@charset "UTF-8";

/* 1hsnhpx */
.css-1hsnhpx {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

/* 298ctp */
.css-298ctp {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  background-color: #F5F5F5;
  min-height: calc(100vh - 64px);
}

/* 8vj3h6 */
.css-8vj3h6 {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 117px;
  width: 100%;
  background-color: #FAFAFA;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-items: flex-start;
  -webkit-box-align: flex-start;
  -ms-flex-align: flex-start;
  align-items: flex-start;
  padding-left: 0;
  padding-right: 0;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

@media screen and (min-width:767px) {
  .css-8vj3h6 {
    min-height: 80px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 24px;
    padding-right: 24px;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}

@media screen and (min-width:1023px) {
  .css-8vj3h6 {
    padding-left: 120px;
    padding-right: 120px;
  }
}

/* yqknkc */
.css-yqknkc {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 24px;
  color: #1E2329;
  font-weight: 500;
  margin-left: 16px;
  margin-top: 16px;
  margin-bottom: 24px;
}

@media screen and (min-width:767px) {
  .css-yqknkc {
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;
  }
}

/* 14kx2jb */
.css-14kx2jb {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 16px;
  padding-left: 16px;
  padding-right: 16px;
  white-space: nowrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  width: 100%;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-left: 0;
}

@media screen and (min-width:767px) {
  .css-14kx2jb {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: auto;
    margin-left: 20px;
  }
}

/* 1fyilri */
.css-1fyilri {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

@media screen and (min-width:767px) {
  .css-1fyilri {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
  }
}

/* s9waj5 */
.css-s9waj5 {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  cursor: pointer;
  height: 32px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;
  color: #C99400;
  font-size: 14px;
  border-radius: 4px;
  background-color: rgba(234, 236, 239, 0.5);
  font-weight: 500;
  line-height: 20px;
  margin-left: 0;
}

/* lb2yzc */
.css-lb2yzc {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  color: #C99400;
  width: 20px;
  height: 20px;
  font-size: 20px;
  fill: #1E2329;
  fill: #C99400;
  width: 1em;
  height: 1em;
  margin-left: 4px;
}

/* 1xpae9g */
.css-1xpae9g {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-left: 16px;
  padding-right: 16px;
  min-height: calc(100vh - 64px);
  border-radius: 16px 16px 0 0;
  background-color: #FFFFFF;
}

@media screen and (min-width:767px) {
  .css-1xpae9g {
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (min-width:1023px) {
  .css-1xpae9g {
    padding-left: 0;
    padding-right: 0;
  }
}

/* tnbo6s */
.css-tnbo6s {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  width: 100%;
}

@media screen and (min-width:767px) {
  .css-tnbo6s {
    width: 400px;
  }
}

/* vzaip1 */
.css-vzaip1 {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  height: 64px;
  margin-top: 24px;
}

/* e3lkss */
.css-e3lkss {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #1E2329;
  font-weight: 500;
  font-size: 20px;
  border-bottom: 4px solid #F0B90B;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
  height: 64px;
}

@media screen and (min-width:767px) {
  .css-e3lkss {
    font-weight: 600;
    font-size: 24px;
  }
}

/* 1v3j8kk */
.css-1v3j8kk {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #707A8A;
  font-weight: 500;
  font-size: 20px;
  border-bottom: 4px solid #FAFAFA;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
  height: 64px;
}

@media screen and (min-width:767px) {
  .css-1v3j8kk {
    font-weight: 600;
    font-size: 24px;
  }
}

/* p9twzz */
.css-p9twzz {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 32px;
  margin-bottom: 32px;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

/* 1ep5k4f */
.css-1ep5k4f {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;
  color: #707A8A;
  font-size: 16px;
}

/* i3ldzl */
.css-i3ldzl {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  color: #707A8A;
  font-size: 16px;
}

/* 17tb7ee */
.css-17tb7ee {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  color: #707A8A;
  cursor: pointer;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #F5F5F5;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 8px;
}

/* 18o2l9g */
.css-18o2l9g {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  color: #707A8A;
  width: 12px;
  height: 12px;
  font-size: 12px;
  fill: #1E2329;
  fill: #707A8A;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  width: 1em;
  height: 1em;
}

/* 1to69v2 */
.css-1to69v2 {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  width: 100%;
  background-color: #FAFAFA;
  border-radius: 8px;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 16px;
  padding-right: 16px;
  border: 1px solid #FAFAFA;
}

.css-1to69v2:hover {
  border: 1px solid #F0B90B;
}

/* k2msnm */
.css-k2msnm {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  color: #707A8A;
  font-size: 14px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

/* vah2p1 */
.css-vah2p1 {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-top: 10px;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

/* 1h690ep */
.css-1h690ep {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

/* 1nxocm8 */
.css-1nxocm8 {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  width: 100%;
  height: 24px;
  color: #1E2329;
  font-size: 20px;
  outline: none;
  background-color: #FAFAFA;
  border: 0 none;
  line-height: 21px;
  font-family: inherit;
  font-weight: mediumm;
}

.css-1nxocm8::-webkit-input-placeholder {
  color: #B7BDC6;
  font-size: 20px;
}

.css-1nxocm8::-moz-placeholder {
  color: #B7BDC6;
  font-size: 20px;
}

.css-1nxocm8:-ms-input-placeholder {
  color: #B7BDC6;
  font-size: 20px;
}

.css-1nxocm8::placeholder {
  color: #B7BDC6;
  font-size: 20px;
}

.css-1nxocm8:focus,
.css-1nxocm8:active {
  outline: none;
}

/* s4o5fp */
.css-s4o5fp {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-color: #FFFFFF;
  border-radius: 50px;
  padding: 8px;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
  width: 116px;
}

/* 1sxqc6q */
.css-1sxqc6q {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  max-width: 100%;
  height: auto;
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

/* 1bd4xa6 */
.css-1bd4xa6 {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  margin-left: 8px;
  color: #1E2329;
  font-size: 16px;
  font-weight: 500;
}

/* nrwzjm */
.css-nrwzjm {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  color: #707A8A;
  width: 16px;
  height: 16px;
  font-size: 16px;
  fill: #1E2329;
  fill: #707A8A;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  width: 1em;
  height: 1em;
  margin-left: 20px;
}

/* 1chbuq4 */
.css-1chbuq4 {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

/* 1xr9mxj */
.css-1xr9mxj {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  width: 100%;
  background-color: #FAFAFA;
  border-radius: 8px;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 16px;
  padding-right: 16px;
  border: 1px solid #FAFAFA;
}

.css-1xr9mxj:hover {
  border: 1px solid #FAFAFA;
}

/* mq5w9o */
.css-mq5w9o {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  height: 32px;
}

/* sb5vo2 */
.css-sb5vo2 {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  width: 100%;
  margin-top: 24px;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 16px;
  padding-top: 24px;
  padding-right: 74px;
  background-color: #FFFFFF;
}

@media screen and (min-width:767px) {
  .css-sb5vo2 {
    position: unset;
    bottom: unset;
    left: unset;
    padding: unset;
    padding-top: unset;
    padding-right: unset;
    background-color: unset;
  }
}

/* 1svw6kt */
.css-1svw6kt {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  box-sizing: border-box;
  font-size: inherit;
  font-family: inherit;
  text-align: center;
  -webkit-text-decoration: none;
  text-decoration: none;
  outline: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  word-break: keep-all;
  color: #212833;
  border-radius: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
  min-height: 24px;
  border: none;
  padding-left: 8px;
  padding-right: 8px;
  background-image: linear-gradient(180deg, #F8D12F 0%, #F0B90B 100%);
  width: 100%;
  height: 40px;
  font-size: 18px;
  border-radius: 8px;
}

.css-1svw6kt:disabled {
  cursor: not-allowed;
  background-image: none;
  background-color: #EAECEF;
  color: #B7BDC6;
}

.css-1svw6kt:hover:not(:disabled):not(:active) {
  box-shadow: none;
}

.css-1svw6kt.inactive {
  opacity: 0.3;
  cursor: not-allowed;
}

.css-1svw6kt:active:not(:disabled):not(.inactive) {
  background-image: none;
  background-color: #F0B90B;
}

.css-1svw6kt:hover:not(:disabled):not(:active):not(.inactive) {
  box-shadow: none;
  background-image: linear-gradient(180deg, #FFE251 0%, #EDC423 100%);
}

@media screen and (min-width:767px) {
  .css-1svw6kt {
    height: 56px;
  }
}

/* 177w7ba */
.css-177w7ba {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  background: transparent;
  color: #1E2329;
}

/* 1vr73xp */
.css-1vr73xp {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

/* 64sbp2 */
.css-64sbp2 {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  width: 343px;
  max-width: none;
  margin-left: 0;
  margin-right: 0;
  height: 1px;
  background-color: #EAECEF;
}

@media screen and (min-width:767px) {
  .css-64sbp2 {
    width: 640px;
    max-width: none;
    margin-left: 0;
    margin-right: 0;
  }
}

@media screen and (min-width:1023px) {
  .css-64sbp2 {
    width: 100%;
    max-width: 1200px;
    margin-left: 81px;
    margin-right: 81px;
  }
}

/* 1ss8est */
.css-1ss8est {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  width: 343px;
  max-width: none;
  margin-left: 0;
  margin-right: 0;
  padding-top: 32px;
  padding-bottom: 40px;
}

@media screen and (min-width:767px) {
  .css-1ss8est {
    width: 640px;
    max-width: none;
    margin-left: 0;
    margin-right: 0;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

@media screen and (min-width:1023px) {
  .css-1ss8est {
    width: 100%;
    max-width: 1200px;
    margin-left: 81px;
    margin-right: 81px;
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

/* 3vo4sa */
.css-3vo4sa {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 16px;
  color: #1E2026;
}

@media screen and (min-width:767px) {
  .css-3vo4sa {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 12px;
  }
}

@media screen and (min-width:1023px) {
  .css-3vo4sa {
    font-size: 28px;
    line-height: 40px;
    margin-bottom: 16px;
  }
}

/* 109gh4 */
.css-109gh4 {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #474D57;
  font-size: 16px;
  line-height: 24px;
  max-width: 100%;
  margin-bottom: 24px;
}

@media screen and (min-width:767px) {
  .css-109gh4 {
    max-width: 100%;
    margin-bottom: 32px;
  }
}

@media screen and (min-width:1023px) {
  .css-109gh4 {
    max-width: 640px;
    margin-bottom: 40px;
  }
}

/* 16pkw9r */
.css-16pkw9r {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: 0;
}

@media screen and (min-width:767px) {
  .css-16pkw9r {
    margin-right: -16px;
  }
}

@media screen and (min-width:1023px) {
  .css-16pkw9r {
    margin-right: -33px;
  }
}

/* oa0uhz */
.css-oa0uhz {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #E6E8EA;
  border-radius: 6px;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-items: flex-start;
  -webkit-box-align: flex-start;
  -ms-flex-align: flex-start;
  align-items: flex-start;
  cursor: pointer;
  width: 100%;
  height: 106px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 16px;
  padding-right: 16px;
  margin-right: 0;
  font-size: 16px;
  line-height: 24px;
  -webkit-text-decoration: underline;
  text-decoration: underline;
}

@media screen and (min-width:767px) {
  .css-oa0uhz {
    width: calc(33.333% - 16px);
    height: 106px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 16px;
    padding-right: 16px;
    margin-right: 16px;
    font-size: 16px;
    line-height: 24px;
    -webkit-text-decoration: underline;
    text-decoration: underline;
  }
}

@media screen and (min-width:1023px) {
  .css-oa0uhz {
    width: calc(33.333% - 33px);
    height: 173px;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 40px;
    padding-right: 40px;
    margin-right: 33px;
    font-size: 24px;
    line-height: 28px;
    -webkit-text-decoration: unset;
    text-decoration: unset;
  }
}

.css-oa0uhz>img {
  margin-bottom: 10px;
  height: 32px;
}

@media screen and (min-width:767px) {
  .css-oa0uhz>img {
    margin-bottom: 10px;
    height: 32px;
  }
}

@media screen and (min-width:1023px) {
  .css-oa0uhz>img {
    margin-bottom: 23px;
    height: 48px;
  }
}

/* 9taffg */
.css-9taffg {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  max-width: 100%;
  height: auto;
}

/* 7gh08h */
.css-7gh08h {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #E6E8EA;
  border-radius: 6px;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-items: flex-start;
  -webkit-box-align: flex-start;
  -ms-flex-align: flex-start;
  align-items: flex-start;
  cursor: pointer;
  width: 100%;
  height: 106px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 16px;
  padding-right: 16px;
  margin-right: 0;
  font-size: 16px;
  line-height: 24px;
  margin-top: 16px;
}

@media screen and (min-width:767px) {
  .css-7gh08h {
    width: calc(33.333% - 16px);
    height: 106px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 16px;
    padding-right: 16px;
    margin-right: 16px;
    font-size: 16px;
    line-height: 24px;
    margin-top: 0;
  }
}

@media screen and (min-width:1023px) {
  .css-7gh08h {
    width: calc(33.333% - 33px);
    height: 173px;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 40px;
    padding-right: 40px;
    margin-right: 33px;
    font-size: 24px;
    line-height: 28px;
    margin-top: 0;
  }
}

.css-7gh08h>img {
  margin-bottom: 10px;
  height: 32px;
}

@media screen and (min-width:767px) {
  .css-7gh08h>img {
    margin-bottom: 10px;
    height: 32px;
  }
}

@media screen and (min-width:1023px) {
  .css-7gh08h>img {
    margin-bottom: 23px;
    height: 48px;
  }
}

/* 1gsx8sy */
.css-1gsx8sy {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 343px;
  max-width: none;
  margin-left: 0;
  margin-right: 0;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-top: 32px;
  padding-bottom: 40px;
}

@media screen and (min-width:767px) {
  .css-1gsx8sy {
    width: 640px;
    max-width: none;
    margin-left: 0;
    margin-right: 0;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

@media screen and (min-width:1023px) {
  .css-1gsx8sy {
    width: 100%;
    max-width: 1200px;
    margin-left: 81px;
    margin-right: 81px;
    padding-top: 70px;
    padding-bottom: 70px;
  }
}

/* evem8x */
.css-evem8x {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  width: 100%;
}

@media screen and (min-width:767px) {
  .css-evem8x {
    width: 100%;
  }
}

@media screen and (min-width:1023px) {
  .css-evem8x {
    width: 57%;
  }
}

/* 14l4vl4 */
.css-14l4vl4 {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 16px;
  color: #1E2026;
}

@media screen and (min-width:767px) {
  .css-14l4vl4 {
    font-size: 20px;
    margin-bottom: 12px;
  }
}

@media screen and (min-width:1023px) {
  .css-14l4vl4 {
    font-size: 28px;
    margin-bottom: 16px;
  }
}

/* 1gdew76 */
.css-1gdew76 {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #474D57;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 32px;
}

@media screen and (min-width:767px) {
  .css-1gdew76 {
    margin-bottom: 24px;
  }
}

@media screen and (min-width:1023px) {
  .css-1gdew76 {
    margin-bottom: 32px;
  }
}

/* fcqlwr */
.css-fcqlwr {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  color: #F0B90B;
  margin-left: 4px;
}

/* qjfho0 */
.css-qjfho0 {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  box-sizing: border-box;
  font-size: inherit;
  font-family: inherit;
  text-align: center;
  -webkit-text-decoration: none;
  text-decoration: none;
  outline: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  word-break: keep-all;
  color: #212833;
  border-radius: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
  min-height: 24px;
  border: none;
  padding-left: 8px;
  padding-right: 8px;
  background-image: linear-gradient(180deg, #F8D12F 0%, #F0B90B 100%);
  height: 40px;
  padding-left: 28px;
  padding-right: 28px;
}

.css-qjfho0:disabled {
  cursor: not-allowed;
  background-image: none;
  background-color: #EAECEF;
  color: #B7BDC6;
}

.css-qjfho0:hover:not(:disabled):not(:active) {
  box-shadow: none;
}

.css-qjfho0.inactive {
  opacity: 0.3;
  cursor: not-allowed;
}

.css-qjfho0:active:not(:disabled):not(.inactive) {
  background-image: none;
  background-color: #F0B90B;
}

.css-qjfho0:hover:not(:disabled):not(:active):not(.inactive) {
  box-shadow: none;
  background-image: linear-gradient(180deg, #FFE251 0%, #EDC423 100%);
}

/* 1c82c04 */
.css-1c82c04 {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}

/* 1s1gdbu */
.css-1s1gdbu {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  color: currentColor;
  width: 12px;
  height: 12px;
  font-size: 12px;
  fill: #1E2329;
  fill: currentColor;
  margin-left: 12px;
  width: 1em;
  height: 1em;
}

/* 40drub */
.css-40drub {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  max-width: 100%;
  height: auto;
  width: 203px;
  max-width: none;
  margin-top: 32px;
}

@media screen and (min-width:767px) {
  .css-40drub {
    width: 240px;
    max-width: none;
    margin-top: 40px;
  }
}

@media screen and (min-width:1023px) {
  .css-40drub {
    width: 37%;
    max-width: 347px;
    margin-top: 0;
  }
}

/* .css-40drub height {
  0: 209px;
  1: 248px;
  2: auto;
} */

/* 2h055p */
.css-2h055p {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 343px;
  max-width: none;
  margin-left: 0;
  margin-right: 0;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-top: 32px;
  padding-bottom: 60px;
}

@media screen and (min-width:767px) {
  .css-2h055p {
    width: 640px;
    max-width: none;
    margin-left: 0;
    margin-right: 0;
    padding-top: 40px;
    padding-bottom: 80px;
  }
}

@media screen and (min-width:1023px) {
  .css-2h055p {
    width: 100%;
    max-width: 1200px;
    margin-left: 81px;
    margin-right: 81px;
    padding-top: 96px;
    padding-bottom: 80px;
  }
}

/* qlx442 */
.css-qlx442 {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  max-width: 100%;
  height: auto;
  width: 343px;
  height: 209px;
  max-width: none;
  margin-top: 32px;
}

@media screen and (min-width:767px) {
  .css-qlx442 {
    width: 393px;
    height: 240px;
    max-width: none;
    margin-top: 40px;
  }
}

@media screen and (min-width:1023px) {
  .css-qlx442 {
    width: 37%;
    height: auto;
    max-width: 426px;
    margin-top: 0;
  }
}
@media screen and (max-width:766px) {
  .css-sb5vo2 {
    width: 100%;
    right: 0;
    margin: auto;
    padding: 24px 0;
  }
  .css-1svw6kt {
    width: calc(100% - 40px);
    margin: 0 20px;
  }
  .css-qjfho0 {
    display: flex;
    word-break: break-all;
    white-space: initial;
    padding: 10px;
    height: auto;
  }
  .css-1ss8est,
  .css-2h055p,
  .css-1gsx8sy {
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
  }
}