@charset "UTF-8";
/* 13qwv1l */
.css-1mf1i98 {
  background: url(../images/about-us/community.jpg) center center;
}
/* 5eg4tl */
.css-5eg4tl {
  width: 100%;
  height: 100px;
  position: absolute;
  left: 0;
  bottom: 100px;
}

@media screen and (max-height:768px) {
  .css-5eg4tl {
    position: static;
    background: #fafafa;
    height: 230px;
  }
}
/* 14v7lop */
.css-14v7lop {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0 auto;
  height: 230px;
  text-align: center;
}
/* 14elhj2 */
.css-14elhj2>a {
  color: #fff;
}

@media screen and (max-height:768px) {
  .css-14elhj2>a {
    color: #212833;
  }
}
/* 1tsl0ue */
.css-1tsl0ue {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  color: #F0B90B;
}

.css-1tsl0ue:hover {
  color: #F0B90B;
  cursor: pointer;
}
/* qz7nub */
.css-qz7nub {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  color: currentColor;
  width: 50px;
  height: 50px;
  font-size: 50px;
  fill: #1E2329;
  fill: currentColor;
  width: 1em;
  height: 1em;
}
/* 19eyst1 */
.css-19eyst1 {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin-top: 8px;
}
/* ulh9rn */
.css-ulh9rn {
  margin: 0;
  min-width: 0;
  max-width: 1260px;
  margin: 0 auto;
  text-align: center;
  box-sizing: content-box;
  padding: 0 20px 100px;
}
/* phcuyw */
.css-phcuyw {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  font-weight: 600;
  font-size: 48px;
  line-height: 56px;
  font-weight: 200;
  margin-top: 100px;
}
/* 18sordj */
.css-18sordj {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-top: 48px;
  color: #474D57;
}
/* hxvn5g */
.css-hxvn5g {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  color: #F0B90B;
  width: 80px;
  height: 80px;
  font-size: 80px;
  fill: #1E2329;
  fill: #F0B90B;
  width: 1em;
  height: 1em;
  margin-top: 24px;
}
/* kxnx87 */
.css-kxnx87 {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  margin-top: 48px;
}
/* 1n641wx */
.css-1n641wx {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
/* 14bl1tq */
.css-14bl1tq {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  width: 25%;
  padding-top: 24px;
  height: 100px;
}
/* jqp1q1 */
.css-jqp1q1 {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  position: relative;
  float: left;
  height: 100px;
  width: 25%;
  padding: 24px;
}

.css-jqp1q1:hover {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.08);
  cursor: pointer;
}

.css-jqp1q1:hover #action-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.css-jqp1q1:hover>a {
  color: #F0B90B;
}
/* rjqmed */
.css-rjqmed {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
/* 19wnbdw */
.css-19wnbdw {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  color: #F0B90B;
  color: #1E2329;
}
/* 1cjl26j */
.css-1cjl26j {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  word-break: break-all;
}
/* ucy6o5 */
.css-ucy6o5 {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  display: none;
  position: absolute;
  top: 10px;
  right: 10px;
}
/* 5qy9c0 */
.css-5qy9c0 {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  width: 30px;
  height: 30px;
  color: #F0B90B;
  border-radius: 15px;
  text-align: center;
  line-height: 30px;
  background-color: #FEF6D8;
  margin-right: 4px;
}

.css-5qy9c0:hover {
  background-color: #F0B90B;
  cursor: pointer;
}

.css-5qy9c0:hover a {
  color: #FFFFFF;
}
/* ew2l8i */
.css-ew2l8i {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  color: currentColor;
  width: 16px;
  height: 16px;
  font-size: 16px;
  fill: #1E2329;
  fill: currentColor;
  width: 1em;
  height: 1em;
}
/* 1f9551p */
.css-1f9551p {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  display: inline-block;
  position: relative;
}
/* 13rkhr8 */
.css-13rkhr8 {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  box-sizing: content-box;
  position: absolute;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  word-break: normal;
  z-index: 1400;
  max-width: 296px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #FFFFFF;
  background-color: #5E6673;
  border-radius: 4px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 12px;
  padding-right: 12px;
  -webkit-filter: drop-shadow(0px 3px 6px rgba(20, 21, 26, 0.08)) drop-shadow(0px 7px 14px rgba(71, 77, 87, 0.08)) drop-shadow(0px 0px 1px rgba(20, 21, 26, 0.1));
  filter: drop-shadow(0px 3px 6px rgba(20, 21, 26, 0.08)) drop-shadow(0px 7px 14px rgba(71, 77, 87, 0.08)) drop-shadow(0px 0px 1px rgba(20, 21, 26, 0.1));
  background-color: #FFFFFF;
}

.css-13rkhr8[data-popper-placement^="top"]>[data-popper-arrow] {
  bottom: -3px;
}

.css-13rkhr8>.gap-fill {
  position: absolute;
  display: block;
}

.css-13rkhr8[data-popper-placement^="top"]>[data-popper-arrow]::before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.css-13rkhr8[data-popper-placement^="top"]>.gap-fill {
  bottom: -8px;
  left: 0;
  width: 100%;
  height: 8px;
}

.css-13rkhr8[data-popper-placement^="bottom"]>[data-popper-arrow] {
  top: -3px;
}

.css-13rkhr8[data-popper-placement^="bottom"]>[data-popper-arrow]::before {
  -webkit-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  transform: rotate(225deg);
}

.css-13rkhr8[data-popper-placement^="bottom"]>.gap-fill {
  top: -8px;
  left: 0;
  width: 100%;
  height: 8px;
}

.css-13rkhr8[data-popper-placement^="left"]>[data-popper-arrow] {
  right: -3px;
}

.css-13rkhr8[data-popper-placement^="left"]>[data-popper-arrow]::before {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.css-13rkhr8[data-popper-placement^="left"]>.gap-fill {
  top: 0;
  right: -8px;
  width: 8px;
  height: 100%;
}

.css-13rkhr8[data-popper-placement^="right"]>[data-popper-arrow] {
  left: -3px;
}

.css-13rkhr8[data-popper-placement^="right"]>[data-popper-arrow]::before {
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
}

.css-13rkhr8[data-popper-placement^="right"]>.gap-fill {
  top: 0;
  left: -8px;
  width: 8px;
  height: 100%;
}

.css-13rkhr8 .bn-tooltip-arrow[data-popper-arrow]::before {
  background-color: #FFFFFF;
}

.css-13rkhr8 .bn-tooltip-arrow::before {
  background-color: #5E6673;
}
/* 1x63rjk */
.css-1x63rjk {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  color: #F0B90B;
  margin-right: 4px;
}
/* gsd440 */
.css-gsd440 {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #29448a;
}

.css-gsd440:hover {
  background: #29448a;
  color: #FFFFFF;
}
/* 1iztezc */
.css-1iztezc {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  color: currentColor;
  width: 24px;
  height: 24px;
  font-size: 24px;
  fill: #1E2329;
  fill: currentColor;
  width: 1em;
  height: 1em;
}
/* 1k9nj98 */
.css-1k9nj98 {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #1e91f1;
}

.css-1k9nj98:hover {
  background: #1e91f1;
  color: #FFFFFF;
}
/* 1o1xi9m */
.css-1o1xi9m {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #0375b4;
}

.css-1o1xi9m:hover {
  background: #0375b4;
  color: #FFFFFF;
}
/* iljdu7 */
.css-iljdu7 {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #d22428;
}

.css-iljdu7:hover {
  background: #d22428;
  color: #FFFFFF;
}
/* 1xr11fh */
.css-1xr11fh {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #212833;
}

.css-1xr11fh:hover {
  background: #212833;
  color: #FFFFFF;
}
/* 1u9esp9 */
.css-1u9esp9 {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
}

.css-1u9esp9,
.css-1u9esp9::before {
  position: absolute;
  width: 6px;
  height: 6px;
  z-index: -1;
}

.css-1u9esp9::before {
  content: "";
  display: block;
}
/* iti18a */
.css-iti18a {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  background-color: #FAFAFA;
  padding-top: 100px;
  padding-bottom: 100px;
  overflow: hidden;
}
/* ayqpj3 */
.css-ayqpj3 {
  margin: 0;
  min-width: 0;
  max-width: 1260px;
  padding: 0 20px;
  box-sizing: content-box;
  margin: 0 auto;
  text-align: center;
}
/* 4w78ji */
.css-4w78ji {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  font-weight: 600;
  font-size: 48px;
  line-height: 56px;
  font-weight: 200;
}
/* 1enntvd */
.css-1enntvd {
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 485px;
  margin: 0 auto;
  background-color: #FFFFFF;
  border-radius: 25px;
  border: solid 1px;
  border-color: #EAECEF;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 48px;
}
/* 1fasf1j */
.css-1fasf1j {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  color: currentColor;
  width: 24px;
  height: 24px;
  font-size: 24px;
  fill: #1E2329;
  fill: currentColor;
  width: 1em;
  height: 1em;
  margin-left: 16px;
}
/* 1w34iud */
.css-1w34iud {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  color: #EAECEF;
  margin-left: 8px;
}
/* 1tyf19 */
.css-1tyf19 {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  position: relative;
  outline: none;
  background-color: transparent;
  width: 88%;
}

.css-1tyf19 .bn-sdd-dropdown {
  position: absolute;
  z-index: 1100;
  -webkit-transition: height 0.2s ease;
  transition: height 0.2s ease;
  background-color: #FFFFFF;
  box-shadow: 0px 3px 6px rgba(20, 21, 26, 0.08), 0px 7px 14px rgba(71, 77, 87, 0.08), 0px 0px 1px rgba(20, 21, 26, 0.1);
  border-radius: 4px;
}

.css-1tyf19 .bn-sdd-list {
  padding: 0;
  overflow-y: scroll;
  padding-top: 4px;
  padding-bottom: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.css-1tyf19 .bn-sdd-optionGroupLabel {
  color: #707A8A;
}

.css-1tyf19 .bn-sdd-option {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.css-1tyf19 .bn-sdd-icon {
  cursor: pointer;
  vertical-align: middle;
}

.css-1tyf19 .bn-sdd-optionGroupLabel {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 6px;
  padding-bottom: 6px;
  height: 28px;
}

.css-1tyf19 .bn-sdd-option {
  max-height: 40px;
  padding-left: 16px;
  padding-right: 16px;
  font-size: 14px;
  line-height: 20px;
}

.css-1tyf19 .bn-sdd-value {
  min-height: 32px;
  padding-left: 12px;
  padding-right: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.css-1tyf19 .bn-sdd-noResults {
  padding: 12px;
  font-size: 14px;
}

.css-1tyf19 .bn-sdd-innerInputContainer {
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 100%;
}

.css-1tyf19 .bn-sdd-icon {
  cursor: pointer;
  vertical-align: middle;
}

.css-1tyf19>div {
  background-color: transparent;
}
/* 1vd5j1n */
.css-1vd5j1n {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  height: 32px;
  margin-top: 0px;
  margin-bottom: 0px;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  line-height: 1.6;
  background-color: #F5F5F5;
  height: 48px;
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  height: 40px;
  width: 100%;
  cursor: pointer;
}

.css-1vd5j1n.bn-input-status-focus .bn-input-label {
  top: -32px;
}

.css-1vd5j1n.bn-input-md {
  height: 40px;
}

.css-1vd5j1n.bn-input-sm {
  height: 32px;
}

.css-1vd5j1n.bn-input-status-focus {
  background-color: transparent;
  border-width: 1px;
  border-style: solid;
  border-color: #F0B90B;
}

.css-1vd5j1n.bn-input-status-disabled {
  background-color: #EAECEF;
  opacity: 0.7;
}

.css-1vd5j1n.bn-input-status-disabled>input {
  color: #B7BDC6;
}

.css-1vd5j1n.bn-input-status-error {
  border-color: #CF304A;
}

.css-1vd5j1n input {
  color: #1E2329;
  font-size: 14px;
  border-radius: 4px;
  padding-left: 12px;
  padding-right: 12px;
}

.css-1vd5j1n input:-webkit-autofill {
  -webkit-transition: color 99999s ease-in-out 0s, background-color 99999s ease-in-out 0s;
  transition: color 99999s ease-in-out 0s, background-color 99999s ease-in-out 0s;
}

.css-1vd5j1n .bn-input-prefix {
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-right: 4px;
  font-size: 14px;
}

.css-1vd5j1n .bn-input-suffix {
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-left: 4px;
  margin-right: 4px;
  font-size: 14px;
}

.css-1vd5j1n .bn-input-suffix {
  height: 100%;
  margin-right: 8px;
}
/* rivkf9 */
.css-rivkf9 {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  outline: none;
  border: none;
  background-color: inherit;
  opacity: 1;
  visibility: visible;
  cursor: pointer;
  background-color: transparent;
}

.css-rivkf9::-webkit-input-placeholder {
  color: #B7BDC6;
  font-size: 14px;
}

.css-rivkf9::-moz-placeholder {
  color: #B7BDC6;
  font-size: 14px;
}

.css-rivkf9:-ms-input-placeholder {
  color: #B7BDC6;
  font-size: 14px;
}

.css-rivkf9::placeholder {
  color: #B7BDC6;
  font-size: 14px;
}
/* 13c2b5p */
.css-13c2b5p {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
/* 1nlwvj5 */
.css-1nlwvj5 {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  color: currentColor;
  width: 16px;
  height: 16px;
  font-size: 16px;
  fill: #1E2329;
  fill: currentColor;
  -webkit-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0);
  color: #707A8A;
  width: 1em;
  height: 1em;
}
/* ae7wzb */
.css-ae7wzb {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  text-align: left;
  margin-top: 48px;
}
/* 1uygav5 */
.css-1uygav5 {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  padding-left: 20px;
}
  
/* search */
.css-1tsr9u1 {
  box-sizing: border-box;
  margin: 0px;
  outline: none;
  height: auto;
  display: none;
  width: auto !important;
  min-width: 100% !important;
}
.css-1cc967k {
  box-sizing: border-box;
  margin: 0px;
  outline: none;
  height: auto;
  display: block;
  bottom: 40px;
  width: auto !important;
  min-width: 100% !important;
}
.css-16vu25q {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  width: 100%;
}
.css-1ra7cyk.bn-input-md {
  height: 40px;
}
.css-1ra7cyk {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  display: inline-flex;
  position: relative;
  -webkit-box-align: center;
  align-items: center;
  line-height: 1.6;
  background-color: rgb(245, 245, 245);
  height: 48px;
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  width: 100%;
}
.css-1ra7cyk .bn-input-prefix {
  flex-shrink: 0;
  margin-right: 4px;
  font-size: 14px;
}
.css-1ra7cyk .bn-input-prefix {
  display: flex;
}
.css-1d886ym {
  box-sizing: border-box;
  margin: 0px -8px 0px 8px;
  min-width: 0px;
  color: rgb(183, 189, 198);
  font-size: 24px;
  fill: rgb(183, 189, 198);
  width: 1em;
  height: 1em;
}
.css-jl5e70 {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  width: 100%;
  height: 100%;
  padding: 0px;
  outline: none;
  border: none;
  opacity: 1;
  background-color: transparent;
}
.css-1ra7cyk input {
  color: rgb(30, 35, 41);
  font-size: 14px;
  border-radius: 4px;
  padding-left: 12px;
  padding-right: 12px;
}
.css-1ra7cyk .bn-input-suffix {
  flex-shrink: 0;
  margin-left: 4px;
  margin-right: 4px;
  font-size: 14px;
}
.css-1ra7cyk .bn-input-suffix {
  display: flex;
}
.css-127oza0 {
  box-sizing: border-box;
  margin: 0px 8px 0px 0px;
  min-width: 0px;
  font-size: 16px;
  fill: currentcolor;
  color: rgb(183, 189, 198);
  width: 1em;
  height: 1em;
}
.css-2rl2kr {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  max-height: 228px;
}
.css-88fj32 {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  color: rgb(201, 148, 0);
  opacity: 1;
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 1;
}
.css-1w2yls6 {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  color: rgb(30, 35, 41);
  opacity: 1;
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 1;
}
.css-1h5rz51 {
  box-sizing: border-box;
  margin: 0px;
  outline: none;
  height: auto;
  display: none;
  bottom: 40px;
  width: auto !important;
  min-width: 100% !important;
}
.css-1mv284k {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  font-size: 16px;
  fill: currentcolor;
  transform: rotate(180deg);
  color: rgb(112, 122, 138);
  width: 1em;
  height: 1em;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}
.css-1ra7cyk.bn-input-status-focus {
  background: transparent;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(240,185,11);
}
.css-fxluzf {
  box-sizing: border-box;
  margin: 0px;
  outline: none;
  height: auto;
  display: block;
  width: auto !important;
  min-width: 100% !important;
}
.css-1pysja1 {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  flex: 1 1 0%;
}
.css-4ouxhb {
  box-sizing: border-box;
  margin: 0px;
  display: flex;
  flex: 1 1 0%;
  min-width: 8px;
}
.css-13rkhr8 {
  position: absolute;
  left: -84px;
  top: -62px;
  transition: opacity 120ms ease-in-out 0s, transform 120ms ease-in-out 0s;
  opacity: 0;
  transform: translate3d(0px, 6px, 0px);
  visibility: hidden;
  -webkit-transition: opacity 120ms ease-in-out 0s, transform 120ms ease-in-out 0s;
  -moz-transition: opacity 120ms ease-in-out 0s, transform 120ms ease-in-out 0s;
  -ms-transition: opacity 120ms ease-in-out 0s, transform 120ms ease-in-out 0s;
  -o-transition: opacity 120ms ease-in-out 0s, transform 120ms ease-in-out 0s;
}
.css-13rkhr8[data-popper-placement^="bottom"]>[data-popper-arrow] {
  position: absolute;
  left: 0px;
  right: 0;
  margin: auto;
  top: 43px;
}
@media screen and (min-width: 1024px) {
  .css-kxnx87 .css-1n641wx:nth-child(1) .css-jqp1q1:last-child{
    margin-left: 25%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px)  { 
  .css-kxnx87 .css-jqp1q1 {
    width: 37.5%;
  }
  .css-1n641wx {
    justify-content: flex-end;
  }
  .css-iti18a .css-jqp1q1 {
    width: 33.33%;
  }
}
@media screen and (min-width: 768px) {
  .css-14v7lop {
    max-width: 1080px;
    padding: 0 20px;
    box-sizing: content-box;
    margin: auto;
    width: auto;
  }
  .css-1n641wx {
    max-width: 1180px;
    margin: 0 auto;
  }
}
@media screen and (max-width:767px) {
  .css-14v7lop {
    padding: 80px 20px;
    height: auto;
  }
  .css-kxnx87 .css-jqp1q1 {
    width: 75%;
    height: auto;
    padding: 15px 0 15px 20px;
  }
  .css-14bl1tq {
    height: auto;
    padding-top: 15px;
  }
  .css-kxnx87 .css-jqp1q1:nth-child(n + 3 ) {
    margin-left: 25%;
  }
  .css-iti18a .css-jqp1q1 {
    width: 50%;
  }
  .css-ulh9rn {
    padding-bottom: 0;
  }
}
@media screen and (max-width: 640px) {
  .css-14v7lop {
    flex-wrap: wrap;
    padding: 40px 20px;
  }
  .css-14v7lop .css-14elhj2 {
    width: 25%;
    padding: 20px 0;
  }
  .css-4w78ji,
  .css-phcuyw {
    font-size: 32px;
    line-height: 1.4;
  }
  .css-1uygav5,
  .css-14bl1tq {
    font-size: 20px;
  }
  .css-1enntvd {
    width: 100%;
    max-width: 400px;
    margin: 48px auto 0;
  }
}
@media screen and (max-width: 480px) {
  .css-qz7nub {
    width: .8em;
    height: .8em;
  }
  .css-19eyst1 {
    font-size: 14px;
  }
  .css-1uygav5, .css-14bl1tq {
    font-size: 16px;
    padding-top: 11px;
  }
  .css-1enntvd {
    max-width: 280px;
    margin: 48px auto 0;
  }
  .css-ae7wzb {
    margin: 48px -10px 0;
  }
  .css-iti18a .css-jqp1q1 {
    padding: 20px 10px;
  }
  .css-iti18a .css-1uygav5 {
    padding-left: 10px
  }
}