@charset "UTF-8";
.css-xry4yv {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  display: flex;
  min-height: 600px;
  flex: 1 1 0%;
  flex-direction: column;
}
@media screen and (min-width: 767px){
  .css-xry4yv {
    flex-direction: row;
  }
}
.css-1wr4jig {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  display: flex;
  flex-direction: column;
  flex: 1 1 0%;
}
.css-u8gr5 {
  margin: 0px;
  min-width: 0px;
  box-sizing: border-box;
  padding-left: 16px;
  padding-right: 16px;
  display: none;
}
@media screen and (min-width: 767px){
  .css-u8gr5 {
    padding-left: 24px;
    padding-right: 24px;
  }
}
.css-fhl5lc {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  display: flex;
  height: 48px;
  -webkit-box-align: center;
  align-items: center;
}
.css-130o28w {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  text-decoration: none;
  color: rgb(30, 35, 41);
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  transition: color 0.2s ease 0s;
  pointer-events: none;
}
.css-1vzthy9 {
  box-sizing: border-box;
  margin: 0px 16px;
  min-width: 0px;
  color: rgb(71, 77, 87);
  font-size: 12px;
  fill: rgb(71, 77, 87);
  width: 1em;
  height: 1em;
}
.css-1vzthy9:last-of-type {
  display: none;
}
.css-1s52m11 {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  display: flex;
  flex: 1 1 0%;
  color: rgb(30, 35, 41);
  flex-direction: column;
  background-color: rgb(250, 250, 250);
}
.css-1lu4p3l {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  display: flex;
  flex-direction: column-reverse;
}
@media screen and (min-width: 767px){
  .css-1lu4p3l {
    flex-direction: column;
  }
}
.css-b80wxf {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  display: flex;
  box-shadow: none;
  background-color: rgb(255, 255, 255);
  padding: 16px;
  flex-wrap: wrap;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  position: relative;
}
@media screen and (min-width: 767px){
  .css-b80wxf {
    box-shadow: rgb(0 0 0 / 8%) 0px 0px 4px;
  }
}
@media screen and (min-width: 767px){
  .css-b80wxf {
    padding: 24px;
  }
}
.css-1s8q8od {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  -webkit-box-align: center;
  align-items: center;
  display: none;
}
@media screen and (min-width: 767px){
  .css-1s8q8od {
    display: flex;
  }
}
.css-u95vxr {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  font-size: 32px;
  color: rgb(30, 35, 41);
}

.css-czxcdk {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  color: rgb(132, 142, 156);
  font-size: 20px;
  fill: rgb(132, 142, 156);
  width: 1em;
  height: 1em;
}
.css-1xn7ycn {
  box-sizing: border-box;
  margin: 0px 0px 0px 1px;
  min-width: 0px;
  color: rgb(112, 122, 138);
}
.css-1k0kvxy {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  height: 16px;
  width: 100%;
  display: none;
}
@media screen and (min-width: 767px){
  .css-1k0kvxy {
    display: block;
  }
}
@media screen and (min-width: 1023px){
  .css-1k0kvxy {
    display: none;
  }
}
.css-wfexmv {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  display: flex;
  width: 100%;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  /* overflow: scroll; */
  padding-bottom: 22px;
}
@media screen and (min-width: 767px){
  .css-wfexmv {
    width: auto;
    flex-direction: column;
    /* overflow: auto; */
    padding-bottom: 0px;
  }
}
@media screen and (min-width: 1023px){
  .css-wfexmv {
    flex-direction: row;
  }
}
.css-4cffwv {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  display: flex;
}
.css-klzfmn {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  color: rgb(201, 148, 0);
  flex: 1 0 auto;
  display: inline-block;
  text-decoration: none !important;
}
.css-klzfmn:hover {
  color: rgb(240, 185, 11);
}
@media screen and (min-width: 767px){
  .css-klzfmn {
    flex: 1 1 auto;
  }
}
.css-z7v3zq {
  margin: 0px;
  min-width: 0px;
  appearance: none;
  user-select: none;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  box-sizing: border-box;
  font-family: inherit;
  text-align: center;
  text-decoration: none;
  outline: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  word-break: keep-all;
  color: rgb(33, 40, 51);
  border-radius: 4px;
  padding: 4px 8px;
  min-height: 24px;
  border: none;
  background-image: linear-gradient(rgb(248, 209, 47) 0%, rgb(240, 185, 11) 100%);
}
.css-wfexmv button {
  font-weight: 500;
  font-size: 14px;
  padding-left: 16px;
  padding-right: 16px;
}
.css-z7v3zq:active:not(:disabled):not(.inactive) {
  background-image: none;
  background-color: rgb(240, 185, 11);
}
.css-z7v3zq:hover:not(:disabled):not(:active) {
  box-shadow: none;
}
.css-z7v3zq:hover:not(:disabled):not(:active):not(.inactive) {
  box-shadow: none;
  background-image: linear-gradient(rgb(255, 226, 81) 0%, rgb(237, 196, 35) 100%);
}
.css-11mfxxz {
  box-sizing: border-box;
  margin: 0px 16px;
  min-width: 0px;
  color: rgb(201, 148, 0);
  flex: 1 0 auto;
  display: inline-block;
  text-decoration: none !important;
}
@media screen and (min-width: 767px){
  .css-11mfxxz {
    flex: 1 1 auto;
  }
}
.css-1tz9k8l {
  margin: 0px;
  min-width: 0px;
  appearance: none;
  user-select: none;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  box-sizing: border-box;
  font-family: inherit;
  text-align: center;
  text-decoration: none;
  outline: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  word-break: keep-all;
  color: rgb(33, 40, 51);
  border-radius: 4px;
  padding: 4px 8px;
  min-height: 24px;
  border: none;
  background-color: transparent;
  box-shadow: rgb(234 236 239) 0px 0px 0px 1px inset;
}
.css-1tz9k8l:active:not(:disabled) {
  background-color: rgba(0, 0, 0, 0.02);
}
.css-1tz9k8l:hover:not(:disabled):not(:active) {
  background-color: rgba(0, 0, 0, 0.02);
}
.css-wfexmv button {
  font-weight: 500;
  font-size: 14px;
  padding-left: 16px;
  padding-right: 16px;
}
.css-1jyup6r {
  box-sizing: border-box;
  margin: 0px 16px 0px 0px;
  min-width: 0px;
  color: rgb(201, 148, 0);
  flex: 1 0 auto;
  display: inline-block;
  text-decoration: none !important;
}
@media screen and (min-width: 767px){
  .css-1jyup6r {
    flex: 1 1 auto;
  }
}
.css-v4n46d {
  box-sizing: border-box;
  margin: 0px 0px 0px 16px;
  min-width: 0px;
  flex: 1 0 auto;
}
.css-10nf7hq {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
}

.css-1lfghw3 {
  box-sizing: border-box;
  margin: 0px 4px 0px 0px;
  min-width: 0px;
  color: rgb(240, 185, 11);
  text-decoration: none;
}
.css-g6mutz {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  color: rgb(0, 0, 0);
  font-size: 24px;
  fill: rgb(0, 0, 0);
  width: 1em;
  height: 1em;
}
.css-7o22il {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  height: 14px;
}
.css-15vw8fi {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  font-size: 14px;
  fill: currentcolor;
  color: rgb(132, 142, 156);
  cursor: help;
  vertical-align: super;
  width: 1em;
  height: 1em;
}
.css-ie7i85 {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  -webkit-box-align: center;
  align-items: center;
  display: none;
  align-self: flex-end;
  width: 120px;
  flex-wrap: wrap;
}

@media screen and (min-width: 767px){
  .css-ie7i85 {
    display: flex;
    margin-top: 16px;
    align-self: flex-start;
    width: auto;
    flex-wrap: nowrap;
  }
}
@media screen and (min-width: 1023px){
  .css-ie7i85 {
    margin-top: 0px;
    align-self: auto;
  }
}
.css-1u0kgna {
  box-sizing: border-box;
  margin: 0px 16px;
  min-width: 0px;
  display: none;
  width: 1px;
  height: 18px;
  background-color: rgb(234, 236, 239);
}
@media screen and (min-width: 767px){
  .css-1u0kgna {
    display: none;
  }
}
@media screen and (min-width: 1023px){
  .css-1u0kgna {
    display: inline-block;
  }
}
.css-16zvjzc {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  text-decoration: underline;
  color: rgb(201, 148, 0);
  font-size: 14px;
}
.css-16zvjzc:hover {
  text-decoration: underline;
  color: rgb(240, 185, 11);
}
.css-11ag26e {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  box-shadow: rgb(0 0 0 / 10%) 0px 0px 1px inset;
  height: 0px;
}
@media screen and (min-width: 767px){
  .css-11ag26e {
    box-shadow: none;
    height: 24px;
  }
}
.css-1imiysb {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  display: flex;
  border-radius: 0px;
  box-shadow: none;
  background-color: rgb(255, 255, 255);
  padding: 8px 16px;
}
@media screen and (min-width: 767px){
  .css-1imiysb {
    border-radius: 4px;
    box-shadow: rgb(0 0 0 / 8%) 0px 0px 4px;
    padding-left: 24px;
    padding-right: 24px;
    margin-left: 24px;
    margin-right: 24px;
  }
}
.css-87c5r {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  display: flex;
  flex-flow: row wrap;
  flex: 1 1 0%;
}
@media screen and (min-width: 767px){
  .css-87c5r {
    flex-direction: column;
  }
}
@media screen and (min-width: 1023px){
  .css-87c5r {
    flex-direction: row;
  }
}
.css-1n7u5cf {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  display: flex;
  flex-direction: row;
}
.css-661iov {
  box-sizing: border-box;
  margin: 8px 8px 8px 0px;
  min-width: 200px;
  -webkit-box-flex: 1;
  flex-grow: 1;
}
@media screen and (min-width: 767px){
  .css-661iov {
    min-width: auto;
    margin-right: 32px;
    margin-top: 16px;
    margin-bottom: 16px;
  }
}
.css-10nf7hq {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}
.css-oorpkh {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  font-size: 14px;
  line-height: 20px;
  color: rgb(30, 35, 41);
}
.css-10kvebh {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  display: block;
}
@media screen and (min-width: 767px){
  .css-10kvebh {
    display: none;
  }
}

.css-pj89i6:active:not(:disabled) {
  background-color: rgba(0, 0, 0, 0.02);
}
@media screen and (min-width: 767px){
  .css-pj89i6 {
    margin-left: 16px;
  }
  .css-pj89i6 {
    margin: 0px 0px 0px 8px;
    min-width: 0px;
    appearance: none;
    user-select: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    box-sizing: border-box;
    font-family: inherit;
    text-align: center;
    text-decoration: none;
    outline: none;
    font-weight: 500;
    line-height: 20px;
    word-break: keep-all;
    color: rgb(33, 40, 51);
    padding: 4px 8px;
    border: none;
    background-color: transparent;
    box-shadow: rgb(234 236 239) 0px 0px 0px 1px inset;
    font-size: 12px;
    cursor: pointer;
    border-radius: 4px;
    height: 24px;
    min-height: 24px;
  }
}
@media screen and (max-width:766px) {
  .css-pj89i6 {
    margin-right: 8px;
  }
  .css-pj89i6 .css-1xn7ycn {
    display: none;
  }
}
.css-czxcdk {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  color: rgb(132, 142, 156);
  font-size: 20px;
  fill: rgb(132, 142, 156);
  width: 1em;
  height: 1em;
}
.css-1xn7ycn {
  box-sizing: border-box;
  margin: 0px 0px 0px 1px;
  min-width: 0px;
  color: rgb(112, 122, 138);
}
.css-1iivh6i {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-end;
}
.css-d9plw {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  font-size: 24px;
  line-height: 32px;
  color: rgb(30, 35, 41);
}
@media screen and (min-width: 767px){
  .css-d9plw {
    font-size: 32px;
    line-height: 42px;
  }
}
.css-yv5xfp {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  font-size: 14px;
  line-height: 18px;
  color: rgb(112, 122, 138);
}
.css-13oplhz {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  flex-direction: column;
  flex: 0 0 auto;
  display: flex;
}
@media screen and (min-width: 767px){
  .css-13oplhz {
    display: none;
  }
}
.css-gqb5yu {
  box-sizing: border-box;
  margin: 16px 0px 8px;
  min-width: 0px;
  text-decoration: underline;
  color: rgb(201, 148, 0);
  font-size: 14px;
}
.css-1ug9ydc {
  box-sizing: border-box;
  margin: 8px 8px 8px 0px;
  min-width: 155px;
}
@media screen and (min-width: 767px){
  .css-1ug9ydc {
    min-width: auto;
    margin-right: 32px;
    margin-top: 16px;
    margin-bottom: 16px;
  }
}
.css-12t8urt {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  font-size: 20px;
  line-height: 28px;
  color: rgb(30, 35, 41);
}
@media screen and (min-width: 767px){
  .css-12t8urt {
    font-size: 32px;
    line-height: 42px;
  }
}
.css-1itd33j {
  box-sizing: border-box;
  margin: 8px 49px 8px 0px;
  min-width: 0px;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 767px){
  .css-1itd33j {
    margin-top: 16px;
    margin-bottom: 16px;
  }
}

.css-1kv8tk2 {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  line-height: 18px;
  padding-left: 4px;
  padding-right: 4px;
  max-width: 282px;
}
.css-14us1xl {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  white-space: pre-wrap;
}
.css-1au34cm {
  box-sizing: border-box;
  margin: 0px 0px 0px 5px;
  min-width: 0px;
  font-size: 16px;
  fill: currentcolor;
  position: relative;
  top: 3px;
  color: rgb(112, 122, 138);
  width: 1em;
  height: 1em;
}
.css-2zstxi {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  display: flex;
  align-items: flex-start;
}
@media screen and (min-width: 767px){
  .css-2zstxi {
    align-items: flex-start;
  }
}
@media screen and (min-width: 1023px){
  .css-2zstxi {
    align-items: flex-end;
  }
}
.css-1d5dlzv {
  box-sizing: border-box;
  margin: 0px 0px 0px 10px;
  min-width: 0px;
  cursor: pointer;
  font-size: 14px;
}
.css-w37o3p {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  box-shadow: rgb(0 0 0 / 10%) 0px 0px 1px inset;
  height: 16px;
  background-color: transparent;
}
@media screen and (min-width: 767px){
  .css-w37o3p {
    box-shadow: none;
  }
}
@media screen and (min-width: 767px){
  .css-w37o3p {
    height: 24px;
  }
}
.css-9cxewd {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  flex: 1 1 0%;
  background-color: rgb(255, 255, 255);
  border-radius: 0px;
  box-shadow: none;
  padding: 0px;
}
@media screen and (min-width: 767px){
  .css-9cxewd {
    border-radius: 4px;
    box-shadow: rgb(0 0 0 / 8%) 0px 0px 4px;
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 24px;
    padding: 24px;
  }
}
.css-1inwbdu {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  padding: 16px;
}
@media screen and (min-width: 767px){
  .css-1inwbdu {
    padding: 0px;
  }
}
.css-ldoy74 {
  box-sizing: border-box;
  margin: 0px 16px 0px 0px;
  min-width: 0px;
  display: inline-flex;
  position: relative;
  height: 32px;
  -webkit-box-align: center;
  line-height: 1.6;
  border: 1px solid rgb(234, 236, 239);
  border-radius: 4px;
  flex: 1 1 0%;
  align-items: flex-end;
  width: auto;
}
.css-ldoy74:hover:not(.bn-input-status-disabled):not(.bn-input-status-error) {
  border-color: rgb(240, 185, 11);
}
@media screen and (min-width: 767px){
  .css-ldoy74 {
    flex: 0 0 auto;
    width: 184px;
  }
}
.css-16fg16t {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  width: 100%;
  height: 100%;
  padding: 0px;
  outline: none;
  border: none;
  background-color: inherit;
  opacity: 1;
}
.css-ldoy74 input {
  color: rgb(30, 35, 41);
  font-size: 14px;
  padding-left: 8px;
  padding-right: 8px;
}
.css-ldoy74 input {
  padding-left: 12px;
  padding-right: 12px;
}
.css-9wsvyu {
  box-sizing: border-box;
  margin: 0px 0px 0px 24px;
  min-width: 0px;
  text-decoration: underline;
  color: rgb(201, 148, 0);
  font-size: 14px;
}
.css-9wsvyu:hover {
  text-decoration: underline;
  color: rgb(240, 185, 11);
}
.css-1ammkwy {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
}
.css-3tfm4c {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  height: 24px;
}
.css-1ammkwy .css-vurnku {
  /* overflow-x: auto;
  position: relative; */
}
.css-140fkd0 > [data-type="table-th"] {
  font-size: 12px;
  background-color: rgb(245, 245, 245);
  color: rgb(112, 122, 138);
}
.css-1qyk0y6 {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  display: flex;
  background-color: inherit;
}
.css-12vhwpl {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  display: flex;
  align-items: flex-start;
  line-height: 20px;
  background-color: inherit;
  padding: 12px 16px;
}
.css-36i00f {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  display: flex;
  align-items: flex-start;
  line-height: 20px;
  -webkit-box-pack: end;
  justify-content: flex-end;
  background-color: inherit;
  padding: 12px 16px;
}


.css-io1ra2 {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  user-select: none;
  cursor: pointer;
  font-weight: 400;
}
.css-1r5j6bd {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  display: -webkit-box;
  word-break: break-all;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 1;
}
.css-czxcdk {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  color: rgb(132, 142, 156);
  font-size: 20px;
  fill: rgb(132, 142, 156);
  width: 1em;
  height: 1em;
}

.css-1gejb1z {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  max-width: 280px;
}
.css-5y1yqn {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  display: -webkit-box;
  word-break: break-all;
  -webkit-box-orient: vertical;
  cursor: help;
  text-decoration: dashed;
  border-width: 0px 0px 1px;
  border-color: rgb(30, 35, 41);
  border-style: dashed;
  color: rgb(112, 122, 138);
  font-size: 12px;
  overflow: hidden;
  -webkit-line-clamp: 1;
}
.css-5y1yqn:hover {
  color: rgb(252, 213, 53);
  border-color: rgb(252, 213, 53);
}
.css-140fkd0 > [data-type="table-td"] {
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid rgb(245, 245, 245);
  color: rgb(71, 77, 87);
}
.css-1qyk0y6 {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  display: flex;
  background-color: inherit;
}
.css-5byxht {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  width: 20px;
  height: 20px;
  transform: scale(1.2);
}
.css-9cwl6c {
  box-sizing: border-box;
  margin: 0px 8px 0px 0px;
  min-width: 0px;
}
.css-1ov9apw {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  text-decoration: underline;
  color: rgb(112, 122, 138);
  font-size: 12px;
}
.css-1ov9apw:hover {
  text-decoration: underline;
  color: rgb(240, 185, 11);
}
.css-1lm5vez {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  height: 100%;
}
.css-gqkwza {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  text-align: right;
}
.table-td .css-12vhwpl {
  flex: 350 1 0%;
  min-width: 350px;
  position: sticky;
  right: 0px;
}
.css-uxa3w6 {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  display: flex;
  font-size: 14px;
  -webkit-box-pack: end;
  justify-content: flex-end;
}
@media screen and (min-width: 767px){
  /* .css-uxa3w6 {
    font-size: 14px;
    -webkit-box-pack: start;
    justify-content: flex-start;
  } */
}
.css-1lcbnex {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  color: rgb(201, 148, 0);
  padding-left: 8px;
  padding-right: 8px;
  cursor: pointer;
}
@media screen and (min-width: 767px){
  .css-1lcbnex:hover {
    text-decoration: underline;
  }
}
.css-uxa3w6 > div {
  margin-right: 16px;
  padding-left: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  border: 1px solid rgb(240, 185, 11);
}
@media screen and (min-width: 767px){
  .css-uxa3w6 > div {
    padding-left: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    border: 0px;
  }
}
.css-ybbx55 {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  position: relative;
  display: inline-block;
  outline: none;
}
.css-40qabl {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  color: rgb(201, 148, 0);
  cursor: pointer;
}
.css-1vggu7o {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  font-size: 14px;
  color: rgb(201, 148, 0);
  cursor: pointer;
  line-height: 20px;
}
.css-uxa3w6 > div:last-of-type {
  margin-right: 0px;
}
.css-1bg2038 {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  text-decoration: none;
  color: rgb(30, 35, 41);
}
.css-1inwbdu .css-17gj25s {
  color: rgb(71, 77, 87);
}

.css-1ylpq3g {
  box-sizing: border-box;
  margin: 0px 0px 0px 12px;
  min-width: 0px;
  display: flex;
  flex-flow: column wrap;
}
.css-17s7mnd {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  color: rgb(112, 122, 138);
  font-size: 12px;
}

.css-rykqde {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  font-size: 14px;
  border-bottom: 1px dashed rgb(112, 122, 138);
  border-top-color: rgb(112, 122, 138);
  border-right-color: rgb(112, 122, 138);
  border-left-color: rgb(112, 122, 138);
}


@media screen and (min-width: 767px){
  .css-10nf7hq .css-1yof1af {
    bottom: 30px;
    left: -18px;
  }
  .css-10nf7hq .css-1u9esp9 {
    left: 0;
    right: 0;
    margin: auto;
  }
  .css-1f9551p .css-1yof1af {
    left: 60%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    bottom: 25px;
  }
  
  .css-1f9551p .css-1u9esp9 {
    left: 0;
    right: 0;
    margin: auto;
  }
  .css-17gj25s .css-1yof1af {
    left: 60%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    bottom: 30px;
  }
  .css-17gj25s .css-1u9esp9 {
    left: 0;
    right: 0;
    margin: auto;
  }
}
@media screen and (max-width: 766px){
  .css-10nf7hq .css-1yof1af {
    bottom: 30px;
    left: -18px;
  }
  .css-10nf7hq .css-1u9esp9 {
    left: 0;
    right: 0;
    margin: auto;
  }
  .css-1itd33j .css-1f9551p .css-1yof1af {
    left: -128px;
    bottom: 25px;
  }
  
  .css-1itd33j .css-1f9551p .css-1u9esp9 {
    left: 138px;
  }
  .css-17gj25s .css-1yof1af {
    left: -24px;
    bottom: 30px;
  }
  .css-17gj25s .css-1u9esp9 {
    left: 90px;
  }
}
.css-j7ani {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  color: rgb(240, 185, 11);
  font-size: 12px;
}
/* tools */
.css-1ezbb8n {
  box-sizing: border-box;
  margin: -16px 0px;
  min-width: 0px;
}
.css-1pysja1 {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  flex: 1 1 0%;
}
.css-1mmxdzv {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  flex: 0 0 auto;
  color: rgb(112, 122, 138);
}
.css-1f9551p {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  display: inline-block;
  position: relative;
}
.css-8u8dgu {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  cursor: help;
  text-decoration: dashed;
  border-width: 0px 0px 1px;
  border-color: rgb(30, 35, 41);
  border-style: dashed;
  color: rgb(112, 122, 138);
  font-size: 12px;
}
.css-1ezbb8n [data-type="list-row"] {
  padding-right: 30px;
  border: none;
}
.css-1lcbnex {
  text-align: left;
}
.css-1umvs28 .css-ybbx55 {
  position: relative;
}
.css-8tvvza {
  box-sizing: border-box;
  margin: 0px 0px 0px 10px;
  min-width: 0px;
  color: rgb(132, 142, 156);
  font-size: 20px;
  fill: rgb(132, 142, 156);
  transform: rotate(
180deg);
  width: 1em;
  height: 1em;
}
.css-ldvej7 {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  flex: 0 0 auto;
  width: 24px;
  height: 24px;
}
@media screen and (min-width: 1023px){
  .css-1qyk0y6 > div:nth-child(1){
    flex: 100 1 0%;
    min-width: 100px;
  }
  .css-1qyk0y6 > div:nth-child(4),
  .css-1qyk0y6 > div:nth-child(3),
  .css-1qyk0y6 > div:nth-child(2){
    flex: 120 1 0%;
    min-width: 120px;
  }
  .css-1qyk0y6 > div:nth-child(5){
    flex: 140 1 0%;
    min-width: 140px;
  }
  .css-1qyk0y6 > div:nth-child(6){
    flex: 350 1 0%;
    min-width: 350px;
    position: sticky;
    right: 0px;
  }
  .css-j7ani {
    display: none;
  }
  
}
@media only screen and (max-width: 1023px) {
  .css-uxa3w6 {
    display: none;
  }
}
@media only screen and (min-width: 767px) and (max-width: 1022px)  {
  .css-1qyk0y6 > div:nth-child(1){
    flex: 100 1 0%;
    min-width: 100px;
  }
  .css-1qyk0y6 > div:nth-child(4),
  .css-1qyk0y6 > div:nth-child(3),
  .css-1qyk0y6 > div:nth-child(2){
    flex: 120 1 0%;
    min-width: 120px;
  }
  .css-1qyk0y6 > div:nth-child(5){
    flex: 140 1 0%;
    min-width: 140px;
  }
  .css-1qyk0y6 > div:nth-child(6){
    flex: 50 1 0%;
    min-width: 50px;
    position: sticky;
    right: 0px;
  }
  .css-140fkd0 > [data-type] > div > [data-sticky="right"] {
    box-shadow: rgb(0 0 0 / 5%) -1px 0px 1px;
  }
  .css-140fkd0 > [data-type="table-td"] > div > [data-sticky] {
    background-color: rgb(255, 255, 255);
  }
  
  .css-ybbx55 .css-40qabl {
    color: #000;
  }
  .table-scroll {
    overflow-x: auto;
    position: relative;
  }
  .css-140fkd0 {
    width: 746px;
  }
}
@media screen and (max-width: 1022px){
  .css-9wsvyu {
    display: none;
  }
}
@media screen and (max-width:766px) {
  /* table sp */
  .css-1umvs28 {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    flex: 1 1 0%;
  }
  .css-5ry4hx {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    padding-top: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid rgb(230, 232, 234);
  }
  .css-1umvs28 > [data-type="list-row"] {
    padding: 8px 16px;
  }
  .css-o6sf7a {
    box-sizing: border-box;
    margin: 4px 0px;
    min-width: 0px;
    -webkit-box-align: center;
    align-items: center;
    font-size: 14px;
  }
  .css-1plnozv {
    box-sizing: border-box;
    margin: 0px 0px 8px;
    min-width: 0px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
  }
  .css-1plnozv:last-of-type {
    margin-bottom: 0px;
  }
  .css-eow14e {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    flex: 1 1 0%;
    text-align: right;
  }
  
  .css-9w1nh8 {
    box-sizing: border-box;
    margin: 0px 16px;
    min-width: 0px;
    flex: 1 1 0%;
    text-align: left;
  }
  .css-1q111xk {
    box-sizing: border-box;
    margin: 0px 0px 4px;
    min-width: 0px;
  }
  .css-1qdm2ih {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    text-decoration: underline;
    color: rgb(112, 122, 138);
  }
  .css-16wuz8p {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .css-1q111xk {
    box-sizing: border-box;
    margin: 0px 0px 4px;
    min-width: 0px;
  }
  .css-15laqez {
    box-sizing: border-box;
    margin: 0px 0px 0px 10px;
    min-width: 0px;
    color: rgb(132, 142, 156);
    font-size: 20px;
    fill: rgb(132, 142, 156);
    transform: rotate(
0deg);
    width: 1em;
    height: 1em;
  }
  .css-1rfvw82 {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    color: rgb(132, 142, 156);
    font-size: 24px;
    fill: rgb(132, 142, 156);
    width: 1em;
    height: 1em;
  }
  .css-vurnku.pc {
    display: none!important;
  }
  
}
.css-1gai8bq {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  z-index: 1100;
  position: absolute;
  right: 28px;
  top: 5px;
}
.css-1mjc9se {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  box-shadow: rgb(20 21 26 / 4%) 0px 1px 2px, rgb(71 77 87 / 4%) 0px 3px 6px, rgb(20 21 26 / 10%) 0px 0px 1px;
  padding: 0px;
  background-color: rgb(255, 255, 255);
  font-size: 12px;
  border-radius: 1px;
  width: 93px;
  text-align: left;
}
.css-1jm49l2 {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  cursor: pointer;
}
.css-oqc7gy {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  font-size: 12px;
  color: rgb(201, 148, 0);
  cursor: pointer;
  line-height: 20px;
}
.css-1mjc9se > div {
  padding: 8px 16px;
  border-bottom: 1px solid rgb(234, 236, 239);
}
.css-8u8dgu .css-1yof1af {
  display: block;
  opacity: 1;
  visibility: inherit;
  left: -16px;
  transform: inherit;
  width: 224px;
}
.css-8u8dgu .css-1u9esp9 {
  left: 54px;
  right: auto;
}
.css-18pbx8v {
  box-sizing: border-box;
  margin: 16px 0px 0px 16px;
  min-width: 0px;
}
.css-13d0adv {
  box-sizing: border-box;
  margin: 0px 4px;
  min-width: 0px;
  color: rgb(132, 142, 156);
  font-size: 24px;
  fill: rgb(132, 142, 156);
  flex: 0 0 auto;
  width: 1em;
  height: 1em;
}
.css-99tn38 {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  height: 8px;
  background-color: rgb(250, 250, 250);
  box-shadow: rgb(0 0 0 / 10%) 0px 0px 1px inset;
}
@media only screen and (min-width: 767px) and (max-width: 1022px)  {
  .css-1gai8bq {
    right: 76px;
  }
}
/* star popup */
.css-n2co0p {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  position: fixed;
  inset: 0px;
  z-index: 9999;
  flex-direction: column-reverse;
  display: flex;
  display: none;
}
.css-15wxz8o {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  overflow: auto;
  z-index: 999999;
  width: 100%;
  transition: all 0.5s ease 0s;
  height: 510px;
  background-color: rgb(250, 250, 250);
}
.css-aita4y {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  display: flex;
  background-color: rgb(255, 255, 255);
  height: 510px;
  flex-direction: column;
}
.css-mg033c {
  box-sizing: border-box;
  margin: 24px 24px 0px;
  min-width: 0px;
  text-align: right;
}
.css-q5xgry {
  box-sizing: border-box;
  margin: 0px 0px 8px;
  min-width: 0px;
  color: rgb(132, 142, 156);
  font-size: 24px;
  fill: rgb(132, 142, 156);
  width: 1em;
  height: 1em;
}
.css-hdb7g4 {
  box-sizing: border-box;
  margin: 0px 24px;
  min-width: 0px;
}
.css-2eirbt {
  box-sizing: border-box;
  margin: 0px 0px 24px;
  min-width: 0px;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
}
.css-1k18kyy {
  box-sizing: border-box;
  margin: 16px 24px 0px;
  min-width: 0px;
  display: flex;
  flex-direction: column;
  overflow: hidden auto;
  flex: 1 1 0%;
}
.css-1vrzgwe {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding-top: 8px;
  padding-bottom: 8px;
  border-bottom: 1px solid rgb(221, 221, 221);
}
.css-5h0skw {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  font-size: 14px;
}
.css-1c3nnfg {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  user-select: none;
  cursor: pointer;
  font-weight: 500;
  width: 40px;
  height: 24px;
  -webkit-box-pack: center;
  justify-content: center;
  border-radius: 4px;
  overflow: hidden;
}
.css-1vrzgwe [data-check="true"] {
  background-color: rgba(240, 185, 11, 0.2);
}
.css-1rfvw82 {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  color: rgb(132, 142, 156);
  font-size: 24px;
  fill: rgb(132, 142, 156);
  width: 1em;
  height: 1em;
}
.css-c4di5d {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  user-select: none;
  cursor: pointer;
  font-weight: 400;
  width: 40px;
  height: 24px;
  -webkit-box-pack: center;
  justify-content: center;
  border-radius: 4px;
  overflow: hidden;
}
.css-1vrzgwe [data-check="false"] {
  background-color: rgba(132, 142, 156, 0.2);
}
/* end popup */
@media screen and (max-width:766px) {
  .css-1umvs28 .css-1f9551p .css-1yof1af {
    left: -16px;
    bottom: 25px;
  }
  .css-1umvs28 .css-1f9551p .css-1u9esp9 {
    left: 53px;
  }
  
}
