@charset "UTF-8";

.css-6ul7zn {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  display: flex;
  flex: 1 1 0%;
  flex-direction: column;
  width: 100%;
  padding: 0px;
}
@media screen and (min-width: 767px){
  .css-6ul7zn {
    padding: 24px;
  }
}
@media screen and (min-width: 1023px){
  .css-6ul7zn {
    padding: 32px;
  }
}
.css-v48ygm {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  position: relative;
  padding: 24px 16px 16px;
  border-radius: 2px;
  background-color: rgb(240, 185, 11);
  color: rgb(33, 40, 51);
  z-index: 1400;
  width: 213px;
}
.css-odo4pv {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 8px;
  line-height: 1;
  cursor: pointer;
}
.css-kkvevc {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  color: currentcolor;
  font-size: 12px;
  fill: currentcolor;
  width: 1em;
  height: 1em;
}
.css-sjmuov {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  padding-top: 8px;
  padding-bottom: 16px;
  font-size: 14px;
  line-height: 18px;
}
.css-y6elll {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  width: 180px;
}
.css-2o2fgr {
  box-sizing: border-box;
  margin: 11px 16px 18px 0px;
  min-width: 0px;
  display: flex;
  background: rgb(255, 255, 255);
  border-radius: 12px;
  float: right;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  width: 62px;
  height: 24px;
  color: rgb(30, 35, 41);
  font-size: 14px;
  font-weight: 500;
}
.css-18sbeu {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
}
.css-18sbeu, .css-18sbeu::before {
  position: absolute;
  width: 8px;
  height: 8px;
  z-index: -1;
}
.css-v48ygm[data-popper-placement^="left"] > [data-popper-arrow] {
  right: -4px;
}
.css-18sbeu::before {
  content: "";
  display: block;
  background-color: rgb(240, 185, 11);
}
.css-v48ygm[data-popper-placement^="left"] > [data-popper-arrow]::before {
  transform: rotate(
-45deg);
}
.css-1pgo5p1 {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  display: flex;
  color: rgb(33, 40, 51);
  flex: 1 1 0%;
  flex-direction: column;
}
.css-1o327ng {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  padding-top: 24px;
  padding-left: 16px;
  padding-right: 16px;
}
@media screen and (min-width: 767px){
  .css-1o327ng {
    padding-top: 16px;
    padding-left: 0px;
    padding-right: 0px;
  }
}
.css-1h6akpg {
  box-sizing: border-box;
  margin: 0px 0px 16px;
  min-width: 0px;
  display: flex;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
}
@media screen and (min-width: 767px){
  .css-1h6akpg {
    margin-bottom: 24px;
  }
}
.css-1uy7nbz {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  font-weight: 600;
  font-size: 32px;
}
.css-1e6kaa9 {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 767px){
  .css-1e6kaa9 {
    flex-direction: row;
  }
}
.css-f7qmhk {
  box-sizing: border-box;
  margin: 0px 0px 24px;
  min-width: 0px;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 767px){
  .css-f7qmhk {
    margin-bottom: 0px;
    margin-right: 32px;
  }
}
.css-dxjwhl {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  display: flex;
  height: 16px;
  -webkit-box-align: center;
  align-items: center;
}
.css-70h0el {
  box-sizing: border-box;
  margin: 0px 4px 0px 0px;
  min-width: 0px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: rgb(112, 122, 138);
}
.css-1344973 {
  margin: 0px 0px 0px 4px;
  min-width: 0px;
  appearance: none;
  user-select: none;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-box-pack: center;
  justify-content: center;
  box-sizing: border-box;
  font-family: inherit;
  text-align: center;
  text-decoration: none;
  outline: none;
  font-weight: 500;
  font-size: 14px;
  word-break: keep-all;
  color: rgb(33, 40, 51);
  border-radius: 4px;
  padding: 4px 8px;
  border: none;
  background-color: transparent;
  box-shadow: rgb(234 236 239) 0px 0px 0px 1px inset;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  min-height: 24px;
  line-height: 1;
}
.css-1344973:active:not(:disabled) {
  background-color: rgba(0, 0, 0, 0.02);
}
.css-1344973:hover:not(:disabled):not(:active) {
  background-color: rgba(0, 0, 0, 0.02);
}
.css-124czaz {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  color: rgb(112, 122, 138);
  font-size: 16px;
  fill: rgb(112, 122, 138);
  width: 1em;
  height: 1em;
}
.css-1ce0sv4 {
  box-sizing: border-box;
  margin: 0px 0px 0px 4px;
  min-width: 0px;
  font-size: 12px;
  color: rgb(112, 122, 138);
}
.css-sefbcu {
  box-sizing: border-box;
  margin: 0px 0px 5px;
  min-width: 0px;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 767px){
  .css-sefbcu {
    flex-direction: row;
    margin-bottom: 0px;
  }
}
.css-3hdxq3 {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  display: flex;
  -webkit-box-align: baseline;
  align-items: baseline;
}
.css-1ni1pds {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  line-height: 40px;
  font-size: 32px;
  color: rgb(30, 35, 41);
}
.css-zmb9d3 {
  box-sizing: border-box;
  margin: 0px 0px 0px 5px;
  min-width: 0px;
  font-size: 20px;
  font-weight: 400;
}
.css-2dppm7 {
  box-sizing: border-box;
  margin: 0px 0px 5px 5px;
  min-width: 0px;
  display: flex;
  align-items: flex-end;
}
.css-1dv2ldu {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  color: rgb(112, 122, 138);
  font-size: 16px;
}
@media screen and (min-width: 767px){
  .css-1dv2ldu {
    font-size: 14px;
  }
}
.css-1352way {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  font-size: 16px;
}
@media screen and (min-width: 767px){
  .css-1352way {
    font-size: 14px;
  }
}
.css-90w9oj {
  box-sizing: border-box;
  margin: 32px 0px 0px;
  min-width: 0px;
  display: inline-flex;
  position: relative;
  height: 32px;
  -webkit-box-align: center;
  align-items: center;
  line-height: 1.6;
  border-bottom: 1px solid rgb(234, 236, 239);
  border-top-color: rgb(234, 236, 239);
  border-right-color: rgb(234, 236, 239);
  border-left-color: rgb(234, 236, 239);
}
.css-16fg16t {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  width: 100%;
  height: 100%;
  padding: 0px;
  outline: none;
  border: none;
  background-color: inherit;
  opacity: 1;
}
.css-90w9oj input {
  color: rgb(30, 35, 41);
  font-size: 16px;
}
.css-d9mxtb {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  position: absolute;
  top: -32px;
  left: 0px;
  line-height: 32px;
  transition-property: top, font-size;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  z-index: 1;
  cursor: text;
  color: rgb(71, 77, 87);
  font-size: 14px;
}
.css-1kyjgen {
  box-sizing: border-box;
  margin: 48px 0px 0px;
  min-width: 0px;
  border-bottom: 2px solid rgb(240, 185, 11);
  z-index: 9;
  width: max-content;
  font-size: 18px;
  padding-bottom: 5px;
}
.css-kz8jr2 {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  border-bottom: 1px solid rgb(234, 236, 239);
  position: relative;
  top: -1px;
}
.css-o75bl {
  box-sizing: border-box;
  margin: 8px 0px 0px;
  min-width: 0px;
}
@media screen and (min-width: 767px){
  .css-o75bl {
    margin-top: 24px;
  }
}
.rc-table {
  font-size: 12px;
  color: rgb(102, 102, 102);
  transition: opacity 0.3s ease 0s;
  position: relative;
  line-height: 1.5;
  overflow: hidden;
}
.rc-table .rc-table-content {
  position: relative;
}
.rc-table table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}
.rc-table tr {
  transition: all 0.3s ease 0s;
}
.rc-table th {
  background: rgb(249, 249, 250);
  color: rgb(132, 142, 156);
  font-size: 12px;
  font-weight: normal;
  transition: background 0.3s ease 0s;
}
.rc-table th, .rc-table td {
  padding: 12px 16px;
  white-space: nowrap;
}
.css-t3m76k {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  display: flex;
  cursor: pointer;
  user-select: none;
  -webkit-box-align: center;
  align-items: center;
}
.css-1iahjxl {
  box-sizing: border-box;
  margin: 0px 0px 0px 10px;
  min-width: 0px;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
}
.css-1iztezc {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  color: currentcolor;
  font-size: 24px;
  fill: currentcolor;
  width: 1em;
  height: 1em;
}
.rc-table .rc-table-placeholder {
  padding: 12px 16px;
  background: rgb(255, 255, 255);
  border-bottom: 1px solid rgb(233, 233, 233);
  text-align: center;
  position: relative;
}
.rc-table .rc-table-placeholder {
  border-bottom: none;
}
.rc-table td {
  border-bottom: 1px solid rgb(234, 236, 239);
  background-color: rgb(255, 255, 255);
  color: rgb(33, 40, 51);
  font-size: 14px;
}
.rc-table .rc-table-placeholder .rc-table-cell {
  border-bottom: none;
}
.css-2ypmf8 {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  display: flex;
  flex: 1 1 0%;
  -webkit-box-pack: center;
  justify-content: center;
  color: rgb(112, 122, 138);
}
.css-cvp9q5 {
  box-sizing: border-box;
  margin: 16px 0px;
  min-width: 0px;
  text-align: center;
}
@media screen and (min-width: 767px){
  .css-cvp9q5 {
    margin-top: 24px;
    margin-bottom: 24px;
  }
}
.css-1lzksdc {
  box-sizing: border-box;
  min-width: 0px;
  color: rgb(132, 142, 156);
  font-size: 64px;
  fill: rgb(132, 142, 156);
  margin: 16px;
  width: 1em;
  height: 1em;
}
@media screen and (min-width: 767px){
  .css-1lzksdc {
    width: 72px;
    height: 72px;
    font-size: 72px;
    margin: 24px;
  }
}
@media screen and (min-width: 1023px){
  .css-1lzksdc {
    width: 96px;
    height: 96px;
    font-size: 96px;
  }
}
.css-rolqze {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  font-size: 14px;
}
@media screen and (min-width: 767px){
  .css-rolqze {
    font-size: 14px;
  }
}
@media screen and (min-width: 1023px){
  .css-rolqze {
    font-size: 16px;
  }
}
/* table sp */
.css-1hlo1qa {
  box-sizing: border-box;
  margin: 24px 0px;
  min-width: 0px;
  display: flex;
  flex: 1 1 0%;
  -webkit-box-pack: center;
  justify-content: center;
  color: rgb(112, 122, 138);
}
.css-cvp9q5 {
  box-sizing: border-box;
  margin: 16px 0px;
  min-width: 0px;
  text-align: center;
}
.css-1lzksdc {
  box-sizing: border-box;
  min-width: 0px;
  color: rgb(132, 142, 156);
  font-size: 64px;
  fill: rgb(132, 142, 156);
  margin: 16px;
  width: 1em;
  height: 1em;
}
.css-rolqze {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  font-size: 14px;
}
.css-90w9oj.bn-input-status-focus {
  border-color: rgba(240,185,11);
}

@media screen and (min-width: 767px){
  .css-6ul7zn {
    position: relative;
  }
  .css-v48ygm {
    position: absolute;
    left: -195px;
    top: 41px;
  }
  .css-18sbeu {
    position: absolute;
    top: 0px;
    transform: translate(0px, 14px);
  }
}
@media screen and (max-width:766px) {
  .css-v48ygm {
    display: none;
  }
}