<div class="css-4qtnb6 footer">
    <div class="css-12gf6y1">
        <div class="css-32mznw">
            <div class="css-vym6x9">
                <div class="css-chjio1">
                    <div data-expand="false" class="css-3prz9j">
                        <div class="css-kbv4gt">
                            <div data-bn-type="text" class="css-mpghe">Về chúng tôi</div>
                            <img src="./../images/common/icon-plus.png" alt="plus" class="css-1l0obfq">
                        </div>
                        <div class="css-1yk9mh2"><a href="/about" class="css-1lg668x">Thông tin
                  thêm</a><a href="/careers" class="css-1lg668x">Cơ hội nghề nghiệp</a><a href="/about#email" class="css-1lg668x">Hợp tác kinh doanh</a><a href="/community" class="css-1lg668x">Cộng đồng</a><a href="/blog" class="css-1lg668x">Binance Blog</a>
                            <a
                                href="/terms" class="css-1lg668x">Điều khoản</a><a href="/privacy" class="css-1lg668x">Riêng tư</a><a href="/support/announcement" class="css-1lg668x">Thông báo</a><a href="/news" class="css-1lg668x">Tin tức</a><a href="/support/list/notices" class="css-1lg668x">Notices</a></div>
                    </div>
                    <div data-expand="false" class="css-3prz9j">
                        <div class="css-kbv4gt">
                            <div data-bn-type="text" class="css-mpghe">Sản phẩm</div>
                            <img src="./../images/common/icon-plus.png" alt="plus" class="css-1l0obfq">
                        </div>
                        <div class="css-1yk9mh2"><a href="https://www.binance.com/vi" class="css-1lg668x">Exchange</a><a href="https://academy.binance.com/vi" class="css-1lg668x">Academy</a><a href="https://www.binance.charity" class="css-1lg668x">BCF</a><a href="https://card.binance.com/vi"
                                class="css-1lg668x">Card</a><a href="https://labs.binance.com/" class="css-1lg668x">Labs</a><a href="https://launchpad.binance.com/vi" class="css-1lg668x">Launchpad</a><a href="https://research.binance.com/" class="css-1lg668x">Nghiên cứu</a>
                            <a href="https://trustwallet.com" class="css-1lg668x">Ví Trust
                                </a><a href="/nft/home" class="css-1lg668x">NFT</a><a href="https://www.featured.market/" class="css-1lg668x">Featured.market</a><a href="https://pay.binance.com/vi" class="css-1lg668x">Binance Pay</a></div>
                    </div>
                    <div data-expand="false" class="css-3prz9j">
                        <div class="css-kbv4gt">
                            <div data-bn-type="text" class="css-mpghe">Dịch vụ</div>
                            <img src="./../images/common/icon-plus.png" alt="plus" class="css-1l0obfq">
                        </div>
                        <div class="css-1yk9mh2"><a href="/download" class="css-1lg668x">Tải
                  xuống</a><a href="/desktop-download" class="css-1lg668x">Desktop
                  Application</a><a href="/buy-sell-crypto" class="css-1lg668x">Mua tiền
                  mã hóa</a><a href="/fee/schedule" class="css-1lg668x">Phí giao
                  dịch</a><a href="/vip-institutional-services" class="css-1lg668x">Dịch
                  vụ cho tổ chức</a><a href="/activity/referral" class="css-1lg668x">Giới
                  thiệu</a><a href="https://www.binance.com/en/activity/affiliate" class="css-1lg668x">Affiliate</a><a href="/bnb" class="css-1lg668x">BNB</a><a href="/OTC-Trading" class="css-1lg668x">Giao dịch OTC</a>
                            <a href="/usercenter/coin-apply" class="css-1lg668x">Đăng ký niêm yết coin
                                </a><a href="/trade-rule" class="css-1lg668x">Quy tắc giao dịch</a><a href="https://c2c.binance.com/vi/merchantApplication" class="css-1lg668x">Ứng dụng Thương nhân
                  P2P</a><a href="/landing/data" class="css-1lg668x">Dữ liệu lịch sử thị
                  trường</a></div>
                    </div>
                </div>
                <div class="css-1ymkc3o">
                    <div data-expand="false" class="css-3prz9j">
                        <div class="css-kbv4gt">
                            <div data-bn-type="text" class="css-mpghe">Hỗ trợ</div>
                            <img src="./../images/common/icon-plus.png" alt="plus" class="css-1l0obfq">
                        </div>
                        <div class="css-1yk9mh2"><a href="/my/user-support/feedback/entry" class="css-1lg668x">Phản hồi</a><a href="/support" class="css-1lg668x">Trung
                  tâm trợ giúp</a><a href="/chat" class="css-1lg668x">Gửi yêu cầu hỗ trợ</a><a href="/official-verification" class="css-1lg668x">Xác minh Binance</a><a href="/support/law-enforcement" class="css-1lg668x">Yêu cầu Thực thi
                  Pháp luật</a></div>
                    </div>
                    <div data-expand="false" class="css-3prz9j">
                        <div class="css-kbv4gt">
                            <div data-bn-type="text" class="css-mpghe">Học hỏi</div>
                            <img src="./../images/common/icon-plus.png" alt="plus" class="css-1l0obfq">
                        </div>
                        <div class="css-1yk9mh2"><a href="/buy-BNB" class="css-1lg668x">Mua
                  BNB</a><a href="/busd" class="css-1lg668x">Mua BUSD</a><a href="/buy-Bitcoin" class="css-1lg668x">Mua Bitcoin</a><a href="/buy-Ethereum" class="css-1lg668x">Mua Ethereum</a>
                            <a href="/buy-Litecoin" class="css-1lg668x">Mua Litecoin</a><a href="/buy-Ripple" class="css-1lg668x">Mua Ripple</a><a href="/buy-Bitcoin-Cash" class="css-1lg668x">Mua Bitcoin Cash</a>
                            <a href="/buy-Dogecoin-Doge" class="css-1lg668x">Mua Dogecoin</a><a href="/buy-DeFi-tokens" class="css-1lg668x">Mua DeFi</a><a href="/buy-Shiba-coin" class="css-1lg668x">Mua SHIB</a><a href="/altcoins/tradable" class="css-1lg668x">Mua altcoin có thể giao
                  dịch</a></div>
                    </div>
                </div>
            </div>
            <div class="css-lhwwn5">
                <div data-bn-type="text" class="css-1phk2w5">Community</div>
                <div class="css-vurnku">
                    <a href="/community" class="css-1icty3a">
                        <i class="icon-telegram"></i>
                    </a>
                    <a href="https://www.facebook.com/binance" class="css-1icty3a">
                        <i class="icon-facebook"></i>
                    </a>
                    <a href="https://twitter.com/binance" class="css-1icty3a">
                        <i class="icon-twitter"></i>
                    </a>
                    <a href="https://www.reddit.com/r/binanceexchange" class="css-1icty3a">
                        <i class="icon-reddit"></i>
                    </a>
                    <a href="https://www.instagram.com/Binance/" class="css-1icty3a">
                        <i class="icon-instagram"></i>
                    </a>
                    <a href="https://coinmarketcap.com/exchanges/binance/" class="css-1icty3a">
                        <i class="icon-coinmarketcap"></i>
                    </a>
                    <a href="https://vk.com/binance" class="css-1icty3a">
                        <i class="icon-vk"></i>
                    </a>
                    <a href="https://www.youtube.com/binanceyoutube" class="css-1icty3a">
                        <i class="icon-youtube"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="css-gl2qiq">
            <div data-bn-type="text" class="css-vurnku">Binance © 2021</div>
        </div>
    </div>
</div>
