<div class="css-oymnjk">
    <div class="css-1myxzb2">
        <div class="css-y0w98b">
            <div class="css-110oij1">
                <img src="./../images/common/icon-close-02.png" alt="" class="css-1giv943">
            </div>
            <div class="css-vurnku hidden-sp-lg">
                <div class="hidden-in-bnc-app css-1sxflk3">
                    <a data-bn-type="button" id="header_login" aria-label="login" href="https://accounts.binance.com/vi/login?return_to=aHR0cHM6Ly93d3cuYmluYW5jZS5jb20vdmkv" class=" css-69ugn9">Đăng nhập</a>
                    <div class="css-xcmw9u"></div>
                    <a data-bn-type="button" id="header_register" aria-label="register" href="https://accounts.binance.com/vi/register" class=" css-goe1sj">Đăng ký</a>
                </div>
            </div>
            <div class="css-19l5e2z hidden-sp-lg">
                <div class="css-1iqe90x">
                    <div data-size="normal" class="menu-item css-1pkwjgt">
                        <div class="css-165cxtr">
                            <img src="./../images/common/icon-crypto-f.png" alt="" class="css-6px2js">
                        </div>
                        <div class="menu-ctx css-9pwsq">
                            <div class="css-10nf7hq">
                                <div data-bn-type="text" class="css-1iqe90x">Mua Crypto</div>
                                <div data-bn-type="text" class="css-1oowbt2">EUR</div>
                            </div>
                        </div>
                        <img src="./../images/common/icon-dropdown-arrow.png" alt="" class="arrow-r css-18y3fmq">
                    </div>
                    <div class="css-1cuk2y">
                        <div class="css-1vt3pdy">
                            <div data-bn-type="text" class="css-1xpdvxr">Thanh toán bằng</div>
                            <div class=" css-1tro9ti">
                                <div alt="" data-src="./images/common/icon-eur.png" data-round="true" class="mica-lazy-img css-1g353mx" style="background-color: transparent; background-image: url(&quot;./images/common/icon-eur.png&quot;); background-repeat: no-repeat; background-size: 100%; background-position: center center;">
                                </div>
                                <div data-bn-type="text" id="header_currency_EUR" class="css-1xn6150">EUR</div>
                                <img src="./../images/common/icon-dropdown-arrow.png" alt="" class="css-1y30j2b">
                            </div>
                        </div>
                        <div class="css-vurnku">
                            <a href="https://www.binance.com/vi/fiat/deposit/EUR" id="header_menu_item_ba-deposit-tips3" data-size="none" class="menu-item css-effixt">
                                <div class="menu-ctx css-9pwsq">
                                    <div class="css-10nf7hq">
                                        <div data-bn-type="text" class="css-1iqe90x">Nạp tiền bằng thẻ</div>
                                    </div>
                                </div>
                            </a>
                            <a href="https://www.binance.com/vi/buy-sell-crypto?channel=card&amp;fiat=EUR" id="header_menu_item_ba-CreditCardTitle" data-size="none" class="menu-item css-effixt">
                                <div class="menu-ctx css-9pwsq">
                                    <div class="css-10nf7hq">
                                        <div data-bn-type="text" class="css-1iqe90x">Thẻ tín dụng / ghi nợ</div>
                                    </div>
                                </div>
                            </a>
                            <a href="https://p2p.binance.com/vi" id="header_menu_item_ba-BanktransferTitle" data-size="none" class="menu-item css-effixt">
                                <div class="menu-ctx css-9pwsq">
                                    <div class="css-10nf7hq">
                                        <div data-bn-type="text" class="css-1iqe90x">Giao dịch P2P</div>
                                    </div>
                                </div>
                            </a>
                            <a href="https://www.binance.com/vi/buy-sell-crypto?channel=wallet&amp;fiat=EUR" id="header_menu_item_ba-CashBalanceTitle" data-size="none" class="menu-item css-effixt">
                                <div class="menu-ctx css-9pwsq">
                                    <div class="css-10nf7hq">
                                        <div data-bn-type="text" class="css-1iqe90x">Số dư tiền mặt</div>
                                    </div>
                                </div>
                            </a>
                            <a href="https://www.binance.com/vi/buy-sell-crypto/other-channel/buy/EUR/BTC/" id="header_menu_item_ba-ThirdpaymentTitle" data-size="none" class="menu-item css-effixt">
                                <div class="menu-ctx css-9pwsq">
                                    <div class="css-10nf7hq">
                                        <div data-bn-type="text" class="css-1iqe90x">Thanh toán bên thứ ba</div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <a href="https://www.binance.com/vi/markets" id="header_menu_ba-tableMarkets" data-size="normal" class="menu-item css-1xbszl8">
                    <div class="css-165cxtr">
                        <img src="./../images/common/icon-market-s24.png" alt="" class="css-6px2js">
                    </div>
                    <div class="menu-ctx css-9pwsq">
                        <div class="css-10nf7hq">
                            <div data-bn-type="text" class="css-1iqe90x">Thị trường</div>
                        </div>
                    </div>
                </a>
                <div class="css-1iqe90x">
                    <div data-size="normal" class="menu-item css-1pkwjgt">
                        <div class="css-165cxtr">
                            <img src="./../images/common/icon-trade-f.png" alt="" class="css-6px2js">
                        </div>
                        <div class="menu-ctx css-9pwsq">
                            <div class="css-10nf7hq">
                                <div data-bn-type="text" class="css-1iqe90x">Giao dịch</div>
                            </div>
                        </div>
                        <img src="./../images/common/icon-dropdown-arrow.png" alt="" class="arrow-r css-18y3fmq">
                    </div>
                    <div class="css-1cuk2y">
                        <a href="https://www.binance.com/vi/convert" id="header_menu_item_ba-BasicCONVERT" data-size="none" class="menu-item css-effixt">
                            <div class="menu-ctx css-9pwsq">
                                <div class="css-10nf7hq">
                                    <div data-bn-type="text" class="css-1iqe90x">Chuyển đổi</div>
                                </div>
                            </div>
                        </a>
                        <a href="https://www.binance.com/vi/trade/BTC_USDT?layout=basic" id="header_menu_item_ba-Basic" data-size="none" class="menu-item css-effixt">
                            <div class="menu-ctx css-9pwsq">
                                <div class="css-10nf7hq">
                                    <div data-bn-type="text" class="css-1iqe90x">Đơn giản</div>
                                </div>
                            </div>
                        </a>
                        <a href="https://www.binance.com/vi/trade/BTC_USDT?layout=pro" id="header_menu_item_ba-Advanced" data-size="none" class="menu-item css-effixt">
                            <div class="menu-ctx css-9pwsq">
                                <div class="css-10nf7hq">
                                    <div data-bn-type="text" class="css-1iqe90x">Nâng cao</div>
                                </div>
                            </div>
                        </a>
                        <a href="https://www.binance.com/vi/trade-margin/BTC_USDT" id="header_menu_item_ba-margin" data-size="none" class="menu-item css-effixt">
                            <div class="menu-ctx css-9pwsq">
                                <div class="css-10nf7hq">
                                    <div data-bn-type="text" class="css-1iqe90x">Ký quỹ</div>
                                </div>
                            </div>
                        </a>
                        <a href="https://p2p.binance.com/vi" id="header_menu_item_ba-titile2-1" data-size="none" class="menu-item css-effixt">
                            <div class="menu-ctx css-9pwsq">
                                <div class="css-10nf7hq">
                                    <div data-bn-type="text" class="css-1iqe90x">P2P</div>
                                </div>
                            </div>
                        </a>
                        <a href="https://www.binance.com/vi/stock-token" id="header_menu_item_ba-stock-token" data-size="none" class="menu-item css-effixt">
                            <div class="menu-ctx css-9pwsq">
                                <div class="css-10nf7hq">
                                    <div data-bn-type="text" class="css-1iqe90x">Token chứng khoán</div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="css-1iqe90x">
                    <div data-size="normal" class="menu-item css-1pkwjgt">
                        <div class="css-165cxtr">
                            <img src="./../images/common/icon-futures-f.png" alt="" class="css-6px2js">
                        </div>
                        <div class="menu-ctx css-9pwsq">
                            <div class="css-10nf7hq">
                                <div data-bn-type="text" class="css-1iqe90x">Phái sinh</div>
                            </div>
                        </div>
                        <img src="./../images/common/icon-dropdown-arrow.png" alt="" class="arrow-r css-18y3fmq">
                    </div>
                    <div class="css-1cuk2y">
                        <a href="https://www.binance.com/vi/futures" id="header_menu_item_ba-overview" data-size="none" class="menu-item css-effixt">
                            <div class="menu-ctx css-9pwsq">
                                <div class="css-10nf7hq">
                                    <div data-bn-type="text" class="css-1iqe90x">Tổng quan Binance Futures</div>
                                </div>
                            </div>
                        </a>
                        <a href="https://www.binance.com/vi/futures/responsible-trading" id="header_menu_item_ba-reponsible" data-size="none" class="menu-item css-effixt">
                            <div class="menu-ctx css-9pwsq">
                                <div class="css-10nf7hq">
                                    <div data-bn-type="text" class="css-1iqe90x">Giao dịch có trách nhiệm</div>
                                </div>
                            </div>
                        </a>
                        <a href="https://www.binance.com/vi/futures/BTCUSDT" id="header_menu_item_ba-perpetualFutures" data-size="none" class="menu-item css-effixt">
                            <div class="menu-ctx css-9pwsq">
                                <div class="css-10nf7hq">
                                    <div data-bn-type="text" class="css-1iqe90x">Hợp đồng USDⓈ-M</div>
                                </div>
                            </div>
                        </a>
                        <a href="https://www.binance.com/vi/delivery/btcusd_quarter" id="header_menu_item_ba-quarterlyFutures" data-size="none" class="menu-item css-effixt">
                            <div class="menu-ctx css-9pwsq">
                                <div class="css-10nf7hq">
                                    <div data-bn-type="text" class="css-1iqe90x">Hợp đồng COIN-M</div>
                                </div>
                            </div>
                        </a>
                        <a href="https://voptions.binance.com/vi" id="header_menu_item_ba-voptions" data-size="none" class="menu-item css-effixt">
                            <div class="menu-ctx css-9pwsq">
                                <div class="css-10nf7hq">
                                    <div data-bn-type="text" class="css-1iqe90x">Vanilla Options</div>
                                </div>
                            </div>
                        </a>
                        <a href="https://www.binance.com/vi/leveraged-tokens/tokens/allTokens" id="header_menu_item_ba-levaragedtoken" data-size="none" class="menu-item css-effixt">
                            <div class="menu-ctx css-9pwsq">
                                <div class="css-10nf7hq">
                                    <div data-bn-type="text" class="css-1iqe90x">Token đòn bẩy</div>
                                </div>
                            </div>
                        </a>
                        <a href="https://www.binance.com/vi/futuresng-activity/battle" id="header_menu_item_ba-headerbattle" data-size="none" class="menu-item css-effixt">
                            <div class="menu-ctx css-9pwsq">
                                <div class="css-10nf7hq">
                                    <div data-bn-type="text" class="css-1iqe90x">Chiến đấu</div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="css-1iqe90x">
                    <div data-size="normal" class="menu-item css-1pkwjgt">
                        <div class="css-165cxtr">
                            <img src="./../images/common/icon-chart-donut-f.png" alt="" class="css-6px2js">
                        </div>
                        <div class="menu-ctx css-9pwsq">
                            <div class="css-10nf7hq">
                                <div data-bn-type="text" class="css-1iqe90x">Tài chính</div>
                            </div>
                        </div>
                        <img src="./../images/common/icon-dropdown-arrow.png" alt="" class="arrow-r css-18y3fmq">
                    </div>
                    <div class="css-1cuk2y">
                        <a href="https://www.binance.com/vi/earn" id="header_menu_item_ba-Earntitle" data-size="none" class="menu-item css-effixt">
                            <div class="menu-ctx css-9pwsq">
                                <div class="css-10nf7hq">
                                    <div data-bn-type="text" class="css-1iqe90x">Binance Earnings</div>
                                </div>
                            </div>
                        </a>
                        <a href="https://pool.binance.com/vi/home" id="header_menu_item_ba-pool" data-size="none" class="menu-item css-effixt">
                            <div class="menu-ctx css-9pwsq">
                                <div class="css-10nf7hq">
                                    <div data-bn-type="text" class="css-1iqe90x">Binance Pool</div>
                                </div>
                            </div>
                        </a>
                        <a href="https://www.binance.com/vi/cards/" id="header_menu_item_ba-DebitCard" data-size="none" class="menu-item css-effixt">
                            <div class="menu-ctx css-9pwsq">
                                <div class="css-10nf7hq">
                                    <div data-bn-type="text" class="css-1iqe90x">Binance Visa Card</div>
                                </div>
                            </div>
                        </a>
                        <a href="https://www.binance.com/vi/loan" id="header_menu_item_ba-CryptoLoans" data-size="none" class="menu-item css-effixt">
                            <div class="menu-ctx css-9pwsq">
                                <div class="css-10nf7hq">
                                    <div data-bn-type="text" class="css-1iqe90x">Cho vay tiền mã hóa</div>
                                </div>
                            </div>
                        </a>
                        <a href="https://www.binance.com/vi/swap/pool" id="header_menu_item_ba-swap-title" data-size="none" class="menu-item css-effixt">
                            <div class="menu-ctx css-9pwsq">
                                <div class="css-10nf7hq">
                                    <div data-bn-type="text" class="css-1iqe90x">Liquid Swap</div>
                                </div>
                            </div>
                        </a>
                        <a href="https://pay.binance.com/vi" id="header_menu_item_ba-Binance Pay" data-size="none" class="menu-item css-effixt">
                            <div class="menu-ctx css-9pwsq">
                                <div class="css-10nf7hq">
                                    <div data-bn-type="text" class="css-1iqe90x">Binance Pay</div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <a href="https://www.binance.com/vi/nft/home" id="header_menu_NFT" data-size="normal" class="menu-item css-1xbszl8">
                    <div class="css-165cxtr">
                        <img src="./../images/common/icon-nft-marketplace-f.png" alt="" class="css-6px2js">
                    </div>
                    <div class="menu-ctx css-9pwsq">
                        <div class="css-10nf7hq">
                            <div data-bn-type="text" class="css-1iqe90x">NFT</div>
                            <div data-bn-type="text" class="css-1oowbt2">New</div>
                        </div>
                    </div>
                </a>
                <div class="css-1iqe90x">
                    <div data-size="normal" class="menu-item css-1pkwjgt">
                        <div class="css-165cxtr">
                            <img src="./../images/common/icon-menu.png" alt="" class="css-6px2js">
                        </div>
                        <div class="menu-ctx css-9pwsq">
                            <div class="css-10nf7hq">
                                <div data-bn-type="text" class="css-1iqe90x">Sản phẩm</div>
                            </div>
                        </div>
                        <img src="./../images/common/icon-dropdown-arrow.png" alt="" class="arrow-r css-18y3fmq">
                    </div>
                    <div class="css-1cuk2y">
                        <a href="https://www.binance.com/vi/trade/BTC_USDT" id="header_menu_item_Exchange" data-size="none" class="menu-item css-effixt">
                            <div class="menu-ctx css-9pwsq">
                                <div class="css-10nf7hq">
                                    <div data-bn-type="text" class="css-1iqe90x">Exchange</div>
                                </div>
                            </div>
                        </a>
                        <a href="https://academy.binance.com/vi" id="header_menu_item_Academy" data-size="none" class="menu-item css-effixt">
                            <div class="menu-ctx css-9pwsq">
                                <div class="css-10nf7hq">
                                    <div data-bn-type="text" class="css-1iqe90x">Academy</div>
                                </div>
                            </div>
                        </a>
                        <a href="https://www.binance.com/vi/broker" id="header_menu_item_ba-broker-main-title" data-size="none" class="menu-item css-effixt">
                            <div class="menu-ctx css-9pwsq">
                                <div class="css-10nf7hq">
                                    <div data-bn-type="text" class="css-1iqe90x">Môi giới</div>
                                </div>
                            </div>
                        </a>
                        <a href="https://www.binance.com/vi/vip-institutional-services" id="header_menu_item_ba-institutional" data-size="none" class="menu-item css-effixt">
                            <div class="menu-ctx css-9pwsq">
                                <div class="css-10nf7hq">
                                    <div data-bn-type="text" class="css-1iqe90x">Dịch vụ cho tổ chức</div>
                                </div>
                            </div>
                        </a>
                        <a href="https://www.binance.charity" id="header_menu_item_Charity" data-size="none" class="menu-item css-effixt">
                            <div class="menu-ctx css-9pwsq">
                                <div class="css-10nf7hq">
                                    <div data-bn-type="text" class="css-1iqe90x">Charity</div>
                                </div>
                            </div>
                        </a>
                        <a href="https://cloud.binance.com/" id="header_menu_item_Cloud" data-size="none" class="menu-item css-effixt">
                            <div class="menu-ctx css-9pwsq">
                                <div class="css-10nf7hq">
                                    <div data-bn-type="text" class="css-1iqe90x">Cloud</div>
                                </div>
                            </div>
                        </a>
                        <a href="https://www.binance.org" id="header_menu_item_DEX" data-size="none" class="menu-item css-effixt">
                            <div class="menu-ctx css-9pwsq">
                                <div class="css-10nf7hq">
                                    <div data-bn-type="text" class="css-1iqe90x">DEX</div>
                                </div>
                            </div>
                        </a>
                        <a href="https://labs.binance.com/" id="header_menu_item_Labs" data-size="none" class="menu-item css-effixt">
                            <div class="menu-ctx css-9pwsq">
                                <div class="css-10nf7hq">
                                    <div data-bn-type="text" class="css-1iqe90x">Labs</div>
                                </div>
                            </div>
                        </a>
                        <a href="https://launchpad.binance.com/vi" id="header_menu_item_Launchpad" data-size="none" class="menu-item css-effixt">
                            <div class="menu-ctx css-9pwsq">
                                <div class="css-10nf7hq">
                                    <div data-bn-type="text" class="css-1iqe90x">Launchpad</div>
                                </div>
                            </div>
                        </a>
                        <a href="https://research.binance.com/vi" id="header_menu_item_Research" data-size="none" class="menu-item css-effixt">
                            <div class="menu-ctx css-9pwsq">
                                <div class="css-10nf7hq">
                                    <div data-bn-type="text" class="css-1iqe90x">Research</div>
                                </div>
                            </div>
                        </a>
                        <a href="https://trustwallet.com" id="header_menu_item_Trust Wallet" data-size="none" class="menu-item css-effixt">
                            <div class="menu-ctx css-9pwsq">
                                <div class="css-10nf7hq">
                                    <div data-bn-type="text" class="css-1iqe90x">Trust Wallet</div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="css-5h0skw">
                <a href="https://www.binance.com/vi/download" data-size="normal" class="menu-item css-1xbszl8">
                    <div class="css-165cxtr">
                        <img src="./../images/common/icon-app-download-f.png" alt="" class="css-6px2js">
                    </div>
                    <div class="menu-ctx css-9pwsq">
                        <div class="css-10nf7hq">
                            <div data-bn-type="text" class="css-1iqe90x">Tải xuống</div>
                        </div>
                    </div>
                </a>
                <div data-size="normal" class="menu-item css-1xbszl8">
                    <div class="css-165cxtr">
                        <img src="./../images/common/icon-language-f.png" alt="" class="css-6px2js">
                    </div>
                    <div class="menu-ctx css-9pwsq">
                        <div class="css-10nf7hq">
                            <div data-bn-type="text" class="css-1iqe90x">Tiếng Việt</div>
                        </div>
                    </div>
                </div>
                <div data-size="normal" class="menu-item css-1xbszl8">
                    <div class="css-165cxtr">
                        <img src="./../images/common/icon-earn-s24.png" alt="" class="css-6px2js">
                    </div>
                    <div class="menu-ctx css-9pwsq">
                        <div class="css-10nf7hq">
                            <div data-bn-type="text" class="css-1iqe90x">USD</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="css-1pysja1"></div>
</div>
<div id="pre-chat-container" class="chat-container visible">
    <img src="./../images/common/icon-chat-01.png" alt="chat">
    <div class="chat-text">Hỗ trợ</div>
</div>
<div id="chatWidget" class="chat-widget">
    <div class="css-7ax2ud">
        <div class="chatWidgetWeb visible css-yjq08k">
            <div class="css-pp7y43">
                <div class="css-19p45ff">
                    <div class="css-vhzuyw">
                        <div class="css-10nf7hq">
                            <div class="arabic-binance-logo css-xrlalw"><img src="./../images/common/icon-chat-02.png" alt="" class="css-175u9rt"></div>
                            <div class="css-10e7657">
                                <div data-bn-type="text" class="css-65bdgk">Hỗ trợ Binance</div>
                            </div>
                        </div>
                        <div class="css-1cgwpsa">
                            <div class="css-4cffwv">
                                <div class="css-4cffwv">
                                    <img src="./../images/common/icon-lang-01.png" alt="" class="css-1wde1je">
                                </div>
                                <div class="arabic-arrow"></div>
                                <img src="./../images/common/icon-arrow-down-01.png" alt="" class="css-1ghy256">
                                <div class="arabic-select-lang-box">
                                    <div class="arabic-select-lang css-r2ttsb">
                                        <div class="css-ede9qf">
                                            <div class="css-1967urr">
                                                <div data-bn-type="text" data-cy="select-lang-vi" class="selected css-l2jbhl">Tiếng Việt</div>
                                                <div data-bn-type="text" data-cy="select-lang-id" class=" css-zhnnj9">Bahasa</div>
                                                <div data-bn-type="text" data-cy="select-lang-de" class=" css-zhnnj9">Deutsch</div>
                                                <div data-bn-type="text" data-cy="select-lang-en" class=" css-zhnnj9">English</div>
                                                <div data-bn-type="text" data-cy="select-lang-es" class=" css-zhnnj9">Español</div>
                                                <div data-bn-type="text" data-cy="select-lang-fr" class=" css-zhnnj9">Français</div>
                                                <div data-bn-type="text" data-cy="select-lang-fil" class=" css-zhnnj9">Filipino</div>
                                                <div data-bn-type="text" data-cy="select-lang-it" class=" css-zhnnj9">Italiano</div>
                                                <div data-bn-type="text" data-cy="select-lang-pt" class=" css-zhnnj9">Português</div>
                                                <div data-bn-type="text" data-cy="select-lang-tr" class=" css-zhnnj9">Türkçe</div>
                                                <div data-bn-type="text" data-cy="select-lang-ru" class=" css-zhnnj9">Русский</div>
                                                <div data-bn-type="text" data-cy="select-lang-ar" class=" css-zhnnj9">بالعربية</div>
                                                <div data-bn-type="text" data-cy="select-lang-ja" class=" css-zhnnj9">日本语</div>
                                                <div data-bn-type="text" data-cy="select-lang-zh" class=" css-zhnnj9">简体中文</div>
                                                <div data-bn-type="text" data-cy="select-lang-ko" class=" css-zhnnj9">한국어</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="trichatContainer" class="trichatContainer">
                <div class="css-103ktzi">
                    <div class="css-gm1dzy">
                        <div class="css-vurnku"></div>
                        <div class="css-1er89ph">
                            <div class="css-14u65x0">
                                <div class="css-xz4qxz">
                                    <img src="./../images/common/icon-clock-01.png" alt="" class="css-lv83y3">
                                    <div data-bn-type="text" class="css-1ilbttu">Xem lịch sử chat</div>
                                </div>
                            </div>
                            <div class="css-14u65x0">
                                <div class="css-1b0hycr">
                                    <div class="css-1e2fy0l">
                                        <div class="css-15ff2x">
                                            <div class="css-15igq09">
                                                <div id="tab-0" class="css-ov54vn">
                                                    <div data-cy="entry-tab-0" class="css-obehti">
                                                        <div data-bn-type="text" alt="" class="css-hat0dt">Các câu hỏi hàng đầu</div>
                                                    </div>
                                                </div>
                                                <div id="tab-1" class="css-ov54vn">
                                                    <div data-cy="entry-tab-1" class="css-1cvqdsm">
                                                        <div data-bn-type="text" alt="" class="css-wsac33">Chức năng tài khoản</div>
                                                    </div>
                                                </div>
                                                <div id="tab-2" class="css-ov54vn">
                                                    <div data-cy="entry-tab-2" class="css-1cvqdsm">
                                                        <div data-bn-type="text" alt="" class="css-wsac33">Rút tiền mã hoá</div>
                                                    </div>
                                                </div>
                                                <div id="tab-3" class="css-ov54vn">
                                                    <div data-cy="entry-tab-3" class="css-1cvqdsm">
                                                        <div data-bn-type="text" alt="" class="css-wsac33">Nạp tiền mã hoá</div>
                                                    </div>
                                                </div>
                                                <div id="tab-4" class="css-ov54vn">
                                                    <div data-cy="entry-tab-4" class="css-1cvqdsm">
                                                        <div data-bn-type="text" alt="" class="css-wsac33">P2P</div>
                                                    </div>
                                                </div>
                                                <div id="tab-5" class="css-ov54vn">
                                                    <div data-cy="entry-tab-5" class="css-16zq7ez">
                                                        <div data-bn-type="text" alt="" class="css-wsac33">Binance Pay</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="css-1983eqg">
                                                <div class="ScrollbarsCustom trackYVisible">
                                                    <div class="ScrollbarsCustom-Wrapper">
                                                        <div class="ScrollbarsCustom-Scroller">
                                                            <div class="ScrollbarsCustom-Content">
                                                                <div>
                                                                    <div data-bn-type="text" data-cy="maybe-ask-question-1" class="css-11fa43h">
                                                                        <img src="./../images/common/icon-dot-01.png" alt="" class="css-lqzdyy">Xác thực tài khoản cá nhân</div>
                                                                </div>
                                                                <div>
                                                                    <div data-bn-type="text" data-cy="maybe-ask-question-2" class="css-11fa43h"><img src="./../images/common/icon-dot-01.png" alt="" class="css-lqzdyy">Hướng dẫn khiếu nại giao dịch P2P</div>
                                                                </div>
                                                                <div>
                                                                    <div data-bn-type="text" data-cy="maybe-ask-question-3" class="css-11fa43h"><img src="./../images/common/icon-dot-01.png" alt="" class="css-lqzdyy">Làm thế nào để xoá tài khoản</div>
                                                                </div>
                                                                <div>
                                                                    <div data-bn-type="text" data-cy="maybe-ask-question-4" class="css-11fa43h"><img src="./../images/common/icon-dot-01.png" alt="" class="css-lqzdyy">Email/số điện thoại đã được sử dụng</div>
                                                                </div>
                                                                <div>
                                                                    <div data-bn-type="text" data-cy="maybe-ask-question-5" class="css-11fa43h"><img src="./../images/common/icon-dot-01.png" alt="" class="css-lqzdyy">Rút tiền mã hóa Crypto</div>
                                                                </div>
                                                                <div>
                                                                    <div data-bn-type="text" data-cy="maybe-ask-question-6" class="css-11fa43h"><img src="./../images/common/icon-dot-01.png" alt="" class="css-lqzdyy">Làm thế nào để thay đổi tên hiển thị</div>
                                                                </div>
                                                                <div>
                                                                    <div data-bn-type="text" data-cy="maybe-ask-question-7" class="css-11fa43h"><img src="./../images/common/icon-dot-01.png" alt="" class="css-lqzdyy">Không nhận được SMS</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="ScrollbarsCustom-Track ScrollbarsCustom-TrackY" axis="y">
                                                        <div class="ScrollbarsCustom-Thumb ScrollbarsCustom-ThumbY" axis="y">
                                                        </div>
                                                    </div>
                                                    <div class="ScrollbarsCustom-Track ScrollbarsCustom-TrackX">
                                                        <div class="ScrollbarsCustom-Thumb ScrollbarsCustom-ThumbX">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="css-1h3821q"></div>
                                            <div class="css-1h3821q"></div>
                                            <div class="css-1h3821q"></div>
                                            <div class="css-1h3821q"></div>
                                            <div class="css-1h3821q"></div>
                                        </div>
                                    </div>
                                    <div data-cy="entry-next-page" class="css-fj5i56">
                                        <span class="css-cxq23q">Trang tiếp
                        theo</span>
                                        <img src="./../images/common/icon-arrow-next-01.png" alt="" class="arabic-refresh-icon css-193gxw5">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="css-gt0vo9">
                        <div class="css-ekdcre">
                            <div class="css-1sstzk2"><textarea rows="5" class="chat-input" maxlength="801" placeholder="Nhập và chọn câu hỏi của bạn"></textarea>
                            </div>
                        </div>
                        <div class="css-4k0q5y">
                            <div class="css-1r8wfc9">
                                <img src="./../images/common/icon-file-01.png" alt="">
                            </div>
                            <div class="css-1i4581u"><input type="file" name="files" accept="image/png,image/jpeg,audio/mp4,video/mp4,video/quicktime,application/pdf" data-cy="upload-input"></div>
                            <div class="css-1r8wfc9">
                                <img src="./../images/common/icon-send-01.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="css-mrxvtd"></div>
                <div class="css-1mycb86">
                    <div class="css-w9do6b">
                        <img src="./../images/common/icon-close-01.png" alt="" class="css-jw7oyw">
                    </div>
                    <div class="css-1yvrirf">Hãy nhập thông tin chi tiết về tài khoản của bạn</div>
                    <div class="css-ciebnb">
                        <div class=" css-13p8y3t"><input data-bn-type="input" data-cy="email-phone-input" class="css-60pnqb" value="" placeholder="Hãy nhập địa chỉ email hoặc số điện thoại của bạn"></div><button data-bn-type="button" data-cy="email-phone-submit" class=" css-1i7a9oj">Bắt đầu trò chuyện</button>
                    </div>
                </div>
                <div class="css-g6fl6p">
                    <div class="css-13gu3yp">
                        <div data-bn-type="text" class="css-1xv1nv">Chọn danh mục mà bạn muốn hỏi:</div>
                        <img src="./../images/common/icon-close-01.png" alt="" class="css-jw7oyw">
                    </div>
                    <div class="css-17d6i0h"><button data-bn-type="button" class=" css-1l1c9bf">Sự hợp tác kinh
                doanh</button><button data-bn-type="button" class=" css-1l1c9bf">Cho vay</button><button data-bn-type="button" class=" css-1l1c9bf">launchpad</button><button data-bn-type="button" class=" css-1l1c9bf">Chức năng api</button><button data-bn-type="button"
                            class=" css-1l1c9bf">mining
                pool</button><button data-bn-type="button" class=" css-1l1c9bf">Rút tiền mã hóa</button><button data-bn-type="button" class=" css-1l1c9bf">Vấn đề bảo mật</button><button data-bn-type="button" class=" css-1l1c9bf">Mua crypto</button>
                        <button data-bn-type="button" class=" css-1l1c9bf">Token đòn bẩy
                            </button><button data-bn-type="button" class=" css-1l1c9bf">Binance earn</button><button data-bn-type="button" class=" css-1l1c9bf">Nạp tiền mã hóa</button><button data-bn-type="button" class=" css-1l1c9bf">Những sự kiện/khuyến mại trên website</button>
                        <button data-bn-type="button" class=" css-1l1c9bf">Chức năng tài khoản</button><button data-bn-type="button" class=" css-1l1c9bf">Xác
                thực 2 yếu tố</button><button data-bn-type="button" class=" css-1l1c9bf">app/web/client</button><button data-bn-type="button" class=" css-1l1c9bf">Giao dịch margin</button><button data-bn-type="button" class=" css-1l1c9bf">Giao dịch otc</button>
                        <button data-bn-type="button" class=" css-1l1c9bf">P2P</button><button data-bn-type="button" class=" css-1l1c9bf">referral</button><button data-bn-type="button" class=" css-1l1c9bf">Thẻ
                Binance</button><button data-bn-type="button" class=" css-1l1c9bf">Giao dịch option</button><button data-bn-type="button" class=" css-1l1c9bf">Giao dịch futures</button><button data-bn-type="button" class=" css-1l1c9bf">Giao dịch spot</button>
                        <button data-bn-type="button" class=" css-1l1c9bf">Binance Liquid Swap</button><button data-bn-type="button" class=" css-1l1c9bf">Binance Smart
                Chain</button><button data-bn-type="button" class=" css-1l1c9bf">Binance pay</button><button data-bn-type="button" class=" css-1l1c9bf">Token cổ phiếu</button><button data-bn-type="button" class=" css-1l1c9bf">Người bán P2P</button></div>
                </div>
            </div>
        </div>
        <div class="css-182sn4c" data-cy="chat-entry"><img alt="open chat" src="./../images/common/chat-button-icon.png">
            <div data-bn-type="text" class="chatButtonText css-1co500q">Hỗ trợ</div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        //menu dropdown
        $('.css-oymnjk').hide();
        $('.css-1wobcdl').click(function() {
            $('.css-oymnjk').fadeIn();
        });
        $('.menu-item').click(function() {
            $(this).toggleClass('css-1pkwjgt css-1nxq18a');
            $(this).next().toggleClass('css-1cuk2y css-17xlfum');
        });
        $('.css-110oij1, .css-1pysja1').click(function() {
            $('.css-oymnjk').fadeOut();
        });
        //footer
        $('.css-kbv4gt').click(function() {
            $(this).parent().toggleClass('css-3prz9j-active');
            $(this).next().toggleClass('css-1yk9mh2');
            $(this).next().toggleClass('css-zmxxr7');
            if($(this).parent().hasClass('css-3prz9j-active')) {
                $( this ).find('img').replaceWith( '<img src="./../images/common/icon-minus.png" alt="minus" class="css-1l0obfq">');
            }
            else {
                $( this ).find('img').replaceWith( '<img src="./../images/common/icon-plus.png" alt="plus" class="css-1l0obfq">');
            }
        });
        //support chat
        $('.css-1ghy256').click(function() {
            $('.chat-widget').hide();
            $('.chat-container').show();
        });
        $('.chat-container').click(function() {
            $('.chat-widget').show();
            $('.chat-container').hide();
        });
        // about and community
        $(window).scroll(function() {
            var scrollTop = $(window).scrollTop();
            if (scrollTop > $("header").offset().top) {
                $('.css-8fjyvn').addClass('css-1jfqp2z');
            } else {
                $('.css-8fjyvn').removeClass('css-1jfqp2z');
            }
        });
        $('.css-1wde1je').click(function() {
            $('.arabic-select-lang-box').toggle();
            $('.arabic-arrow').toggle();
        });
    })

</script>
