<a href="/" class="top-logo">
    <img src="./../images/common/logo.png" alt="" class="css-1tywbcj">
</a>
<div class="css-1tp5kus">
    <div class="css-mu7imd">
        <div class="css-1smf7ma">
            <div class="css-15owl46">
                <img src="./../images/common/icon-menu.png" alt="" class="css-6px2js">
            </div>
            <img src="./../images/common/icon-dropdown-arrow.png" alt="" class="css-1x1srvk">
        </div>
        <div class="css-gv1gi9" data-popper-reference-hidden="false" data-popper-escaped="true" data-popper-placement="bottom-start">
            <div data-layout="gird" data-menu="large" class="css-1ox6s0y">
                <a href="/trade/BTC_USDT" id="header_menu_item_Exchange" data-size="large" class="menu-item css-2ab4ki">
                    <div class="css-1apb415">
                        <img src="./../images/common/icon-spot-g.png" alt="" class="css-1s4hjvp">
                    </div>
                    <div class="menu-ctx css-9pwsq">
                        <div class="css-10nf7hq">
                            <div data-bn-type="text" class="css-1iqe90x">Exchange</div>
                        </div>
                        <div data-bn-type="text" class="css-ppte8m">Sàn giao dịch tài sản mã hóa và Blockchain
                        </div>
                    </div>
                    <img src="./../images/common/icon-arrow-right-f.png" alt="" class="arrow-r mirror css-9z1b5k">
                </a>
                <a href="https://academy.binance.com/vi" id="header_menu_item_Academy" data-size="large" class="menu-item css-2ab4ki">
                    <div class="css-1apb415">
                        <img src="./../images/common/icon-academy-g.png" alt="" class="css-1s4hjvp">
                    </div>
                    <div class="menu-ctx css-9pwsq">
                        <div class="css-10nf7hq">
                            <div data-bn-type="text" class="css-1iqe90x">Academy</div>
                        </div>
                        <div data-bn-type="text" class="css-ppte8m">Giáo dục Blockchain và Crypto</div>
                    </div><img src="./../images/common/icon-arrow-right-f.png" alt="" class="arrow-r mirror css-9z1b5k">
                </a>
                <a href="https://www.binance.com/vi/broker" id="header_menu_item_ba-broker-main-title" data-size="large" class="menu-item css-2ab4ki">
                    <div class="css-1apb415">
                        <img src="./../images/common/icon-broker-g.png" alt="" class="css-1s4hjvp">
                    </div>
                    <div class="menu-ctx css-9pwsq">
                        <div class="css-10nf7hq">
                            <div data-bn-type="text" class="css-1iqe90x">Môi giới</div>
                        </div>
                        <div data-bn-type="text" class="css-ppte8m">Giải pháp cổng giao dịch</div>
                    </div><img src="./../images/common/icon-arrow-right-f.png" alt="" class="arrow-r mirror css-9z1b5k">
                </a>
                <a href="https://www.binance.com/vi/vip-institutional-services" id="header_menu_item_ba-institutional" data-size="large" class="menu-item css-2ab4ki">
                    <div class="css-1apb415">
                        <img src="./../images/common/icon-Group-51714vipIco-1.png" alt="" class="css-1s4hjvp">
                    </div>
                    <div class="menu-ctx css-9pwsq">
                        <div class="css-10nf7hq">
                            <div data-bn-type="text" class="css-1iqe90x">Dịch vụ cho tổ chức</div>
                        </div>
                        <div data-bn-type="text" class="css-ppte8m">Giải pháp giao dịch cho tổ chức và VIP</div>
                    </div><img src="./../images/common/icon-arrow-right-f.png" alt="" class="arrow-r mirror css-9z1b5k">
                </a>
                <a href="https://www.binance.charity" id="header_menu_item_Charity" data-size="large" class="menu-item css-2ab4ki">
                    <div class="css-1apb415">
                        <img src="./../images/common/icon-charity-g.png" alt="" class="css-1s4hjvp">
                    </div>
                    <div class="menu-ctx css-9pwsq">
                        <div class="css-10nf7hq">
                            <div data-bn-type="text" class="css-1iqe90x">Charity</div>
                        </div>
                        <div data-bn-type="text" class="css-ppte8m">Làm từ thiện với blockchain</div>
                    </div><img src="./../images/common/icon-arrow-right-f.png" alt="" class="arrow-r mirror css-9z1b5k">
                </a>
                <a href="https://cloud.binance.com/" id="header_menu_item_Cloud" data-size="large" class="menu-item css-2ab4ki">
                    <div class="css-1apb415">
                        <img src="./../images/common/icon-cloud-g.png" alt="" class="css-1s4hjvp">
                    </div>
                    <div class="menu-ctx css-9pwsq">
                        <div class="css-10nf7hq">
                            <div data-bn-type="text" class="css-1iqe90x">Cloud</div>
                        </div>
                        <div data-bn-type="text" class="css-ppte8m">Xây dựng sàn giao dịch cho doanh nghiệp
                        </div>
                    </div><img src="./../images/common/icon-arrow-right-f.png" alt="" class="arrow-r mirror css-9z1b5k">
                </a>
                <a href="https://www.binance.org" id="header_menu_item_DEX" data-size="large" class="menu-item css-2ab4ki">
                    <div class="css-1apb415">
                        <img src="./../images/common/icon-Dex-g.png" alt="" class="css-1s4hjvp">
                    </div>
                    <div class="menu-ctx css-9pwsq">
                        <div class="css-10nf7hq">
                            <div data-bn-type="text" class="css-1iqe90x">DEX</div>
                        </div>
                        <div data-bn-type="text" class="css-ppte8m">Sàn giao dịch tài sản kỹ thuật số phi tập trung nhanh và an toàn</div>
                    </div><img src="./../images/common/icon-arrow-right-f.png" alt="" class="arrow-r mirror css-9z1b5k">
                </a>
                <a href="https://labs.binance.com/" id="header_menu_item_Labs" data-size="large" class="menu-item css-2ab4ki">
                    <div class="css-1apb415">
                        <img src="./../images/common/icon-labs-g.png" alt="" class="css-1s4hjvp">
                    </div>
                    <div class="menu-ctx css-9pwsq">
                        <div class="css-10nf7hq">
                            <div data-bn-type="text" class="css-1iqe90x">Labs</div>
                        </div>
                        <div data-bn-type="text" class="css-ppte8m">Ươm mầm cho các dự án Blockchain hàng đầu
                        </div>
                    </div><img src="./../images/common/icon-arrow-right-f.png" alt="" class="arrow-r mirror css-9z1b5k">
                </a>
                <a href="https://launchpad.binance.com/vi" id="header_menu_item_Launchpad" data-size="large" class="menu-item css-2ab4ki">
                    <div class="css-1apb415">
                        <img src="./../images/common/icon-launchpad-g.png" alt="" class="css-1s4hjvp">
                    </div>
                    <div class="menu-ctx css-9pwsq">
                        <div class="css-10nf7hq">
                            <div data-bn-type="text" class="css-1iqe90x">Launchpad</div>
                        </div>
                        <div data-bn-type="text" class="css-ppte8m">Nền tảng phát hành token</div>
                    </div><img src="./../images/common/icon-arrow-right-f.png" alt="" class="arrow-r mirror css-9z1b5k">
                </a>
                <a href="https://research.binance.com/vi" id="header_menu_item_Research" data-size="large" class="menu-item css-2ab4ki">
                    <div class="css-1apb415">
                        <img src="./../images/common/icon-research-g.png" alt="" class="css-1s4hjvp">
                    </div>
                    <div class="menu-ctx css-9pwsq">
                        <div class="css-10nf7hq">
                            <div data-bn-type="text" class="css-1iqe90x">Research</div>
                        </div>
                        <div data-bn-type="text" class="css-ppte8m">Những phân tích và báo cáo cấp doanh nghiệp
                        </div>
                    </div><img src="./../images/common/icon-arrow-right-f.png" alt="" class="arrow-r mirror css-9z1b5k">
                </a>
                <a href="https://trustwallet.com" id="header_menu_item_Trust Wallet" data-size="large" class="menu-item css-2ab4ki">
                    <div class="css-1apb415">
                        <img src="./../images/common/icon-eco-trust-s24.png" alt="" class="css-1s4hjvp">
                    </div>
                    <div class="menu-ctx css-9pwsq">
                        <div class="css-10nf7hq">
                            <div data-bn-type="text" class="css-1iqe90x">Trust Wallet</div>
                        </div>
                        <div data-bn-type="text" class="css-ppte8m">Ví tiền mã hóa chính thức của Binance</div>
                    </div><img src="./../images/common/icon-arrow-right-f.png" alt="" class="arrow-r mirror css-9z1b5k">
                </a>
            </div>
        </div>
    </div>
    <div class="css-mu7imd">
        <div class=" css-1smf7ma">
            <div class="css-15owl46">
                <div data-bn-type="text" class="css-vurnku">Mua Crypto</div>
            </div>
            <div data-bn-type="text" class="css-1oowbt2">EUR</div>
            <img src="./../images/common/icon-dropdown-arrow.png" alt="" class="css-1x1srvk">
        </div>
        <div class="css-gv1gi9" data-popper-reference-hidden="false" data-popper-escaped="true" data-popper-placement="bottom-start">
            <div class="css-d9xoa9">
                <div class="css-xf5mj4">
                    <div data-bn-type="text" class="css-pat6vv">Thanh toán bằng</div>
                    <div class="css-1ql2hru">
                        <div class=" css-sup8gx">
                            <div alt="" data-round="true" class="mica-lazy-img css-1oz7jp7" data-src="https://bin.bnbstatic.com/images/20200610/5d13145e-c557-4519-96b6-360f8e8e1f02.png" style="background-color: transparent; background-image: url(&quot;https://bin.bnbstatic.com/images/20200610/5d13145e-c557-4519-96b6-360f8e8e1f02.png&quot;); background-repeat: no-repeat; background-size: 100%; background-position: center center;">
                            </div>
                            <div data-bn-type="text" id="header_currency_EUR" class="css-1xn6150">EUR</div>
                            <img src="./../images/common/icon-dropdown-arrow.png" alt="" class="css-hx9kgj">
                        </div>
                    </div>
                </div>
                <div class="css-hpuqr8">
                    <a href="https://www.binance.com/vi/fiat/deposit/EUR" id="header_menu_item_ba-deposit-tips3" data-size="large" class="menu-item css-2ab4ki">
                        <div class="css-1apb415">
                            <img src="./../images/common/icon-bank-g.png" alt="" class="css-1s4hjvp"></div>
                        <div class="menu-ctx css-9pwsq">
                            <div class="css-10nf7hq">
                                <div data-bn-type="text" class="css-1iqe90x">Nạp tiền bằng thẻ</div>
                            </div>
                            <div data-bn-type="text" class="css-ppte8m">Nạp EUR bằng thẻ</div>
                        </div><img src="./../images/common/icon-arrow-right-f.png" alt="" class="arrow-r mirror css-9z1b5k">
                    </a>
                    <a href="https://www.binance.com/vi/buy-sell-crypto?channel=card&amp;fiat=EUR" id="header_menu_item_ba-CreditCardTitle" data-size="large" class="menu-item css-2ab4ki">
                        <div class="css-1apb415">
                            <img src="./../images/common/icon-card-g.png" alt="" class="css-1s4hjvp">
                        </div>
                        <div class="menu-ctx css-9pwsq">
                            <div class="css-10nf7hq">
                                <div data-bn-type="text" class="css-1iqe90x">Thẻ tín dụng / ghi nợ</div>
                            </div>
                            <div data-bn-type="text" class="css-ppte8m">Mua tiền mã hoá bằng thẻ</div>
                        </div><img src="./../images/common/icon-arrow-right-f.png" alt="" class="arrow-r mirror css-9z1b5k">
                    </a>
                    <a href="https://p2p.binance.com/vi" id="header_menu_item_ba-BanktransferTitle" data-size="large" class="menu-item css-2ab4ki">
                        <div class="css-1apb415">
                            <img src="./../images/common/icon-p2p-g.png" alt="" class="css-1s4hjvp">
                        </div>
                        <div class="menu-ctx css-9pwsq">
                            <div class="css-10nf7hq">
                                <div data-bn-type="text" class="css-1iqe90x">Giao dịch P2P</div>
                            </div>
                            <div data-bn-type="text" class="css-ppte8m">Chuyển khoản ngân hàng và 100+ lựa chọn khác
                            </div>
                        </div><img src="./../images/common/icon-arrow-right-f.png" alt="" class="arrow-r mirror css-9z1b5k">
                    </a>
                    <a href="https://www.binance.com/vi/buy-sell-crypto?channel=wallet&amp;fiat=EUR" id="header_menu_item_ba-CashBalanceTitle" data-size="large" class="menu-item css-2ab4ki">
                        <div class="css-1apb415">
                            <img src="./../images/common/icon-wallet-g-1.png" alt="" class="css-1s4hjvp">
                        </div>
                        <div class="menu-ctx css-9pwsq">
                            <div class="css-10nf7hq">
                                <div data-bn-type="text" class="css-1iqe90x">Số dư tiền mặt</div>
                            </div>
                            <div data-bn-type="text" class="css-ppte8m">Mua tiền mã hoá bằng số dư EUR của bạn
                            </div>
                        </div><img src="./../images/common/icon-arrow-right-f.png" alt="" class="arrow-r mirror css-9z1b5k">
                    </a>
                    <a href="https://www.binance.com/vi/buy-sell-crypto/other-channel/buy/EUR/BTC/" id="header_menu_item_ba-ThirdpaymentTitle" data-size="large" class="menu-item css-2ab4ki">
                        <div class="css-1apb415">
                            <img src="./../images/common/icon-payment-g.png" alt="" class="css-1s4hjvp">
                        </div>
                        <div class="menu-ctx css-9pwsq">
                            <div class="css-10nf7hq">
                                <div data-bn-type="text" class="css-1iqe90x">Thanh toán bên thứ ba</div>
                            </div>
                            <div data-bn-type="text" class="css-ppte8m">Simplex, Banxa (SEPA)</div>
                        </div><img src="./../images/common/icon-arrow-right-f.png" alt="" class="arrow-r mirror css-9z1b5k">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <a href="https://www.binance.com/vi/markets" id="header_menu_ba-tableMarkets" class="css-1smf7ma">
        <div data-bn-type="text" class="css-vurnku">Thị trường</div>
    </a>
    <div class="css-mu7imd">
        <div class=" css-1smf7ma">
            <div class="css-15owl46">
                <div data-bn-type="text" class="css-vurnku">Giao dịch</div>
            </div>
            <img src="./../images/common/icon-dropdown-arrow.png" alt="" class="css-1x1srvk">
        </div>
        <div style="position: fixed; inset: 0px auto auto 0px; transform: translate(435px, 64px);" class="css-gv1gi9" data-popper-reference-hidden="false" data-popper-escaped="true" data-popper-placement="bottom-start">
            <div data-layout="list" data-menu="large" class="css-1ox6s0y">
                <a href="https://www.binance.com/vi/convert" id="header_menu_item_ba-BasicCONVERT" data-size="large" class="menu-item css-2ab4ki">
                    <div class="css-1apb415">
                        <img src="./../images/common/icon-convert-g.png" alt="" class="css-1s4hjvp">
                    </div>
                    <div class="menu-ctx css-9pwsq">
                        <div class="css-10nf7hq">
                            <div data-bn-type="text" class="css-1iqe90x">Chuyển đổi</div>
                        </div>
                        <div data-bn-type="text" class="css-ppte8m">Cách đơn giản nhất để giao dịch</div>
                    </div><img src="./../images/common/icon-arrow-right-f.png" alt="" class="arrow-r mirror css-9z1b5k">
                </a>
                <a href="https://www.binance.com/vi/trade/BTC_USDT?layout=basic" id="header_menu_item_ba-Basic" data-size="large" class="menu-item css-2ab4ki">
                    <div class="css-1apb415">
                        <img src="./../images/common/icon-trading-interface-classic-g.png" alt="" class="css-1s4hjvp">
                    </div>
                    <div class="menu-ctx css-9pwsq">
                        <div class="css-10nf7hq">
                            <div data-bn-type="text" class="css-1iqe90x">Đơn giản</div>
                        </div>
                        <div data-bn-type="text" class="css-ppte8m">Giao diện đơn giản và dễ dùng, phù hợp cho người mới bắt đầu</div>
                    </div><img src="./../images/common/icon-arrow-right-f.png" alt="" class="arrow-r mirror css-9z1b5k">
                </a>
                <a href="https://www.binance.com/vi/trade/BTC_USDT?layout=pro" id="header_menu_item_ba-Advanced" data-size="large" class="menu-item css-2ab4ki">
                    <div class="css-1apb415">
                        <img src="./../images/common/icon-trading-interface-advanced-g.png" alt="" class="css-1s4hjvp">
                    </div>
                    <div class="menu-ctx css-9pwsq">
                        <div class="css-10nf7hq">
                            <div data-bn-type="text" class="css-1iqe90x">Nâng cao</div>
                        </div>
                        <div data-bn-type="text" class="css-ppte8m">Toàn quyền tiếp cận đến tất cả các công cụ giao dịch chỉ trên một màn hình</div>
                    </div><img src="./../images/common/icon-arrow-right-f.png" alt="" class="arrow-r mirror css-9z1b5k">
                </a>
                <a href="https://www.binance.com/vi/trade-margin/BTC_USDT" id="header_menu_item_ba-margin" data-size="large" class="menu-item css-2ab4ki">
                    <div class="css-1apb415">
                        <img src="./../images/common/icon-margin-g.png" alt="" class="css-1s4hjvp">
                    </div>
                    <div class="menu-ctx css-9pwsq">
                        <div class="css-10nf7hq">
                            <div data-bn-type="text" class="css-1iqe90x">Ký quỹ</div>
                        </div>
                        <div data-bn-type="text" class="css-ppte8m">Tối đa lợi nhuận bằng đòn bẩy cao</div>
                    </div><img src="./../images/common/icon-arrow-right-f.png" alt="" class="arrow-r mirror css-9z1b5k">
                </a>
                <a href="https://p2p.binance.com/vi" id="header_menu_item_ba-titile2-1" data-size="large" class="menu-item css-2ab4ki">
                    <div class="css-1apb415">
                        <img src="./../images/common/icon-p2p-g.png" alt="" class="css-1s4hjvp">
                    </div>
                    <div class="menu-ctx css-9pwsq">
                        <div class="css-10nf7hq">
                            <div data-bn-type="text" class="css-1iqe90x">P2P</div>
                        </div>
                        <div data-bn-type="text" class="css-ppte8m">Chuyển khoản ngân hàng và 100+ lựa chọn khác
                        </div>
                    </div><img src="./../images/common/icon-arrow-right-f.png" alt="" class="arrow-r mirror css-9z1b5k">
                </a>
                <a href="https://www.binance.com/vi/stock-token" id="header_menu_item_ba-stock-token" data-size="large" class="menu-item css-2ab4ki">
                    <div class="css-1apb415">
                        <img src="./../images/common/icon-stock-token-g.png" alt="" class="css-1s4hjvp">
                    </div>
                    <div class="menu-ctx css-9pwsq">
                        <div class="css-10nf7hq">
                            <div data-bn-type="text" class="css-1iqe90x">Token chứng khoán</div>
                        </div>
                        <div data-bn-type="text" class="css-ppte8m">Giao dịch chứng khoán bằng tiền mã hóa</div>
                    </div><img src="./../images/common/icon-arrow-right-f.png" alt="" class="arrow-r mirror css-9z1b5k">
                </a>
            </div>
        </div>
    </div>
    <div class="css-mu7imd">
        <div class=" css-1smf7ma">
            <div class="css-15owl46">
                <div data-bn-type="text" class="css-vurnku">Phái sinh</div>
            </div>
            <img src="./../images/common/icon-dropdown-arrow.png" alt="" class="css-1x1srvk">
        </div>
        <div style="position: fixed; inset: 0px auto auto 0px; transform: translate(527px, 64px);" class="css-gv1gi9" data-popper-reference-hidden="false" data-popper-escaped="true" data-popper-placement="bottom-start">
            <div data-layout="list" data-menu="large" class="css-1ox6s0y">
                <a href="https://www.binance.com/vi/futures" id="header_menu_item_ba-overview" data-size="large" class="menu-item css-2ab4ki">
                    <div class="css-1apb415">
                        <img src="./../images/common/icon-futures-g.png" alt="" class="css-1s4hjvp">
                    </div>
                    <div class="menu-ctx css-9pwsq">
                        <div class="css-10nf7hq">
                            <div data-bn-type="text" class="css-1iqe90x">Tổng quan Binance Futures</div>
                        </div>
                        <div data-bn-type="text" class="css-ppte8m">Xem toàn bộ các công cụ phái sinh tiền mã hóa của chúng tôi</div>
                    </div><img src="./../images/common/icon-arrow-right-f.png" alt="" class="arrow-r mirror css-9z1b5k">
                </a>
                <a href="https://www.binance.com/vi/futures/responsible-trading" id="header_menu_item_ba-reponsible" data-size="large" class="menu-item css-2ab4ki">
                    <div class="css-1apb415">
                        <img src="./../images/common/icon-reponsible-trading-g.png" alt="" class="css-1s4hjvp">
                    </div>
                    <div class="menu-ctx css-9pwsq">
                        <div class="css-10nf7hq">
                            <div data-bn-type="text" class="css-1iqe90x">Giao dịch có trách nhiệm</div>
                        </div>
                        <div data-bn-type="text" class="css-ppte8m">Tìm hiểu cách thực hành giao dịch có trách nhiệm với Binance Futures</div>
                    </div><img src="./../images/common/icon-arrow-right-f.png" alt="" class="arrow-r mirror css-9z1b5k">
                </a>
                <a href="https://www.binance.com/vi/futures/BTCUSDT" id="header_menu_item_ba-perpetualFutures" data-size="large" class="menu-item css-2ab4ki">
                    <div class="css-1apb415">
                        <img src="./../images/common/icon-futures-usdt-m-g.png" alt="" class="css-1s4hjvp">
                    </div>
                    <div class="menu-ctx css-9pwsq">
                        <div class="css-10nf7hq">
                            <div data-bn-type="text" class="css-1iqe90x">Hợp đồng USDⓈ-M</div>
                        </div>
                        <div data-bn-type="text" class="css-ppte8m">Hợp đồng không kỳ hạn hoặc Hợp đồng theo quý được thanh toán bằng USDT hoặc BUSD</div>
                    </div><img src="./../images/common/icon-arrow-right-f.png" alt="" class="arrow-r mirror css-9z1b5k">
                </a>
                <a href="https://www.binance.com/vi/delivery/btcusd_quarter" id="header_menu_item_ba-quarterlyFutures" data-size="large" class="menu-item css-2ab4ki">
                    <div class="css-1apb415">
                        <img src="./../images/common/icon-futures-coin-m-g.png" alt="" class="css-1s4hjvp">
                    </div>
                    <div class="menu-ctx css-9pwsq">
                        <div class="css-10nf7hq">
                            <div data-bn-type="text" class="css-1iqe90x">Hợp đồng COIN-M</div>
                        </div>
                        <div data-bn-type="text" class="css-ppte8m">Hợp đồng không kỳ hạn hoặc Hợp đồng theo quý được thanh toán bằng Tiền mã hoá.</div>
                    </div><img src="./../images/common/icon-arrow-right-f.png" alt="" class="arrow-r mirror css-9z1b5k">
                </a>
                <a href="https://voptions.binance.com/vi" id="header_menu_item_ba-voptions" data-size="large" class="menu-item css-2ab4ki">
                    <div class="css-1apb415">
                        <img src="./../images/common/icon-futures-options-vanilla-g.png" alt="" class="css-1s4hjvp">
                    </div>
                    <div class="menu-ctx css-9pwsq">
                        <div class="css-10nf7hq">
                            <div data-bn-type="text" class="css-1iqe90x">Vanilla Options</div>
                        </div>
                        <div data-bn-type="text" class="css-ppte8m">Mua và bán quyền chọn Vanilla Options kiểu Châu Âu.
                        </div>
                    </div><img src="./../images/common/icon-arrow-right-f.png" alt="" class="arrow-r mirror css-9z1b5k">
                </a>
                <a href="https://www.binance.com/vi/leveraged-tokens/tokens/allTokens" id="header_menu_item_ba-levaragedtoken" data-size="large" class="menu-item css-2ab4ki">
                    <div class="css-1apb415">
                        <img src="./../images/common/icon-futures-leveraged-token-g.png" alt="" class="css-1s4hjvp">
                    </div>
                    <div class="menu-ctx css-9pwsq">
                        <div class="css-10nf7hq">
                            <div data-bn-type="text" class="css-1iqe90x">Token đòn bẩy</div>
                        </div>
                        <div data-bn-type="text" class="css-ppte8m">Sử dụng đòn bẩy được gia tăng mà không lo bị thanh lý</div>
                    </div><img src="./../images/common/icon-arrow-right-f.png" alt="" class="arrow-r mirror css-9z1b5k">
                </a>
                <a href="https://www.binance.com/vi/futuresng-activity/battle" id="header_menu_item_ba-headerbattle" data-size="large" class="menu-item css-2ab4ki">
                    <div class="css-1apb415">
                        <img src="./../images/common/icon-battle-g.png" alt="" class="css-1s4hjvp">
                    </div>
                    <div class="menu-ctx css-9pwsq">
                        <div class="css-10nf7hq">
                            <div data-bn-type="text" class="css-1iqe90x">Chiến đấu</div>
                        </div>
                        <div data-bn-type="text" class="css-ppte8m">Chiến đấu để Giành chiến thắng, Long vs Short
                        </div>
                    </div><img src="./../images/common/icon-arrow-right-f.png" alt="" class="arrow-r mirror css-9z1b5k">
                </a>
            </div>
        </div>
    </div>
    <div class="css-mu7imd">
        <div class=" css-1smf7ma">
            <div class="css-15owl46">
                <div data-bn-type="text" class="css-vurnku">Tài chính</div>
            </div>
            <img src="./../images/common/icon-dropdown-arrow.png" alt="" class="css-1x1srvk">
        </div>
        <div style="position: fixed; inset: 0px auto auto 0px; transform: translate(618px, 64px);" class="css-gv1gi9" data-popper-reference-hidden="false" data-popper-escaped="true" data-popper-placement="bottom-start">
            <div data-layout="list" data-menu="large" class="css-1ox6s0y">
                <a href="https://www.binance.com/vi/earn" id="header_menu_item_ba-Earntitle" data-size="large" class="menu-item css-2ab4ki">
                    <div class="css-1apb415">
                        <img src="./../images/common/icon-earn-g.png" alt="" class="css-1s4hjvp">
                    </div>
                    <div class="menu-ctx css-9pwsq">
                        <div class="css-10nf7hq">
                            <div data-bn-type="text" class="css-1iqe90x">Binance Earnings</div>
                        </div>
                        <div data-bn-type="text" class="css-ppte8m">Giải pháp Đầu tư tất cả trong một</div>
                    </div><img src="./../images/common/icon-arrow-right-f.png" alt="" class="arrow-r mirror css-9z1b5k">
                </a>
                <a href="https://pool.binance.com/vi/home" id="header_menu_item_ba-pool" data-size="large" class="menu-item css-2ab4ki">
                    <div class="css-1apb415">
                        <img src="./../images/common/icon-pool-g.png" alt="" class="css-1s4hjvp">
                    </div>
                    <div class="menu-ctx css-9pwsq">
                        <div class="css-10nf7hq">
                            <div data-bn-type="text" class="css-1iqe90x">Binance Pool</div>
                        </div>
                        <div data-bn-type="text" class="css-ppte8m">Phục vụ thợ đào và cải thiện doanh thu khai thác
                        </div>
                    </div><img src="./../images/common/icon-arrow-right-f.png" alt="" class="arrow-r mirror css-9z1b5k">
                </a>
                <a href="https://www.binance.com/vi/cards/" id="header_menu_item_ba-DebitCard" data-size="large" class="menu-item css-2ab4ki">
                    <div class="css-1apb415">
                        <img src="./../images/common/icon-card-binance-g.png" alt="" class="css-1s4hjvp">
                    </div>
                    <div class="menu-ctx css-9pwsq">
                        <div class="css-10nf7hq">
                            <div data-bn-type="text" class="css-1iqe90x">Binance Visa Card</div>
                        </div>
                        <div data-bn-type="text" class="css-ppte8m">Chuyển đổi và thanh toán bằng tiền mã hóa trên toàn cầu</div>
                    </div><img src="./../images/common/icon-arrow-right-f.png" alt="" class="arrow-r mirror css-9z1b5k">
                </a>
                <a href="https://www.binance.com/vi/loan" id="header_menu_item_ba-CryptoLoans" data-size="large" class="menu-item css-2ab4ki">
                    <div class="css-1apb415">
                        <img src="./../images/common/icon-wallet-g-1.png" alt="" class="css-1s4hjvp">
                    </div>
                    <div class="menu-ctx css-9pwsq">
                        <div class="css-10nf7hq">
                            <div data-bn-type="text" class="css-1iqe90x">Cho vay tiền mã hóa</div>
                        </div>
                        <div data-bn-type="text" class="css-ppte8m">Nhận khoản vay tức thời bảo đảm bằng tài sản mã hoá
                        </div>
                    </div><img src="./../images/common/icon-arrow-right-f.png" alt="" class="arrow-r mirror css-9z1b5k">
                </a>
                <a href="https://www.binance.com/vi/swap/pool" id="header_menu_item_ba-swap-title" data-size="large" class="menu-item css-2ab4ki">
                    <div class="css-1apb415">
                        <img src="./../images/common/icon-liquid-swap-g.png" alt="" class="css-1s4hjvp">
                    </div>
                    <div class="menu-ctx css-9pwsq">
                        <div class="css-10nf7hq">
                            <div data-bn-type="text" class="css-1iqe90x">Liquid Swap</div>
                        </div>
                        <div data-bn-type="text" class="css-ppte8m">Trở thành nhà cung cấp thanh khoản và nhân đôi thu nhập</div>
                    </div><img src="./../images/common/icon-arrow-right-f.png" alt="" class="arrow-r mirror css-9z1b5k">
                </a>
                <a href="https://pay.binance.com/vi" id="header_menu_item_ba-Binance Pay" data-size="large" class="menu-item css-2ab4ki">
                    <div class="css-1apb415">
                        <img src="./../images/common/icon-pay-g.png" alt="" class="css-1s4hjvp">
                    </div>
                    <div class="menu-ctx css-9pwsq">
                        <div class="css-10nf7hq">
                            <div data-bn-type="text" class="css-1iqe90x">Binance Pay</div>
                        </div>
                        <div data-bn-type="text" class="css-ppte8m">Gửi và sử dụng tiền mã hóa mà không tốn phí
                        </div>
                    </div><img src="./../images/common/icon-arrow-right-f.png" alt="" class="arrow-r mirror css-9z1b5k">
                </a>
            </div>
        </div>
    </div>
    <a href="https://www.binance.com/vi/nft/home" id="header_menu_NFT" class="css-1smf7ma">
        <div data-bn-type="text" class="css-vurnku">NFT</div>
        <div data-bn-type="text" class="css-1oowbt2">New</div>
    </a>
</div>
<div class="css-11y6cix"></div>
<div class="hidden-in-bnc-app css-1aejx32">
    <a data-bn-type="button" id="header_login" aria-label="login" href="https://accounts.binance.com/vi/login?return_to=aHR0cHM6Ly93d3cuYmluYW5jZS5jb20vdmkv" class=" css-1y3ujfh">Đăng nhập</a>
    <div class="css-xcmw9u"></div>
    <a data-bn-type="button" id="header_register" aria-label="register" href="https://accounts.binance.com/vi/register" class=" css-1akigod">Đăng ký</a>
</div>
<div class="hidden-pc">
    <div class="css-1wobcdl">
        <img src="./../images/common/icon-menu-hamburger-f.png" alt="" class="css-6px2js">
    </div>
</div>
<div class="hidden-sp-lg">
    <div class="css-wu6zme">
        <div class="css-1ql2hru">
            <div class="css-1smf7ma">Tải xuống</div>
        </div>
        <div class="css-15he6up">
            <div data-bn-type="text" class="css-1ef19zs">Tiếng Việt</div><i class="css-ooh29x"></i>
            <div data-bn-type="text" class="css-1ef19zs">USD</div><i class="css-ooh29x"></i>
            <img src="./../images/common/icon-lamp.png" alt="" class="css-14nsevo">
        </div>
    </div>
</div>
