<div class="css-foka8b">
    <a data-bn-type="link" href="/my/wallet/account/overview" rel="noopener noreferrer" class="css-z87e9z">
        <div class="css-10j588g"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" class="css-14thuu2"><path d="M6.093 8.889c-.567 0-1.031-.438-1.031-.972 0-.535.464-.973 1.03-.973h12.846V5H6.093C4.38 5 3 6.303 3 7.917v8.166C3 17.697 4.381 19 6.093 19H21V8.889H6.093zm12.845 8.167H6.093c-.567 0-1.031-.438-1.031-.973v-5.415c.33.107.68.165 1.03.165h12.846v6.223z" fill="currentColor"></path><path d="M15.845 12.573l-1.453 1.371 1.453 1.38 1.464-1.38-1.464-1.37z" fill="currentColor"></path></svg>
            <div data-bn-type="text" class="css-iizq59">Tổng quan ví</div>
        </div>
    </a>
    <a data-bn-type="link" class="css-6ijtmk" href="/my/wallet/account/main">
        <div class="css-10j588g">
            <div data-bn-type="text" class="css-tkieql">Fiat và Spot</div>
        </div>
    </a>
    <a data-bn-type="link" href="/my/wallet/account/margin" class="css-6ijtmk">
        <div class="css-10j588g">
            <div data-bn-type="text" class="css-tkieql">Margin</div>
        </div>
    </a>
    <a data-bn-type="link" href="/my/wallet/account/futures" class="css-6ijtmk">
        <div class="css-10j588g">
            <div data-bn-type="text" class="css-tkieql">Futures</div>
        </div>
    </a>
    <a data-bn-type="link" class="css-6ijtmk" href="/my/wallet/funding">
        <div class="css-10j588g">
            <div data-bn-type="text" class="css-tkieql">Funding</div>
        </div>
    </a>
    <a data-bn-type="link" href="/my/wallet/account/saving" class="css-6ijtmk">
        <div class="css-10j588g">
            <div data-bn-type="text" class="css-tkieql">Earn</div>
        </div>
    </a>
    <a data-bn-type="link" class="css-6ijtmk" href="/my/wallet/account/mining">
        <div class="css-10j588g">
            <div data-bn-type="text" class="css-tkieql">Tài khoản Mining</div>
        </div>
    </a>
    <a data-bn-type="link" href="https://voptions.binance.com/vi/my/wallet/account/options" rel="noopener noreferrer" class="css-6ijtmk">
        <div class="css-10j588g">
            <div data-bn-type="text" class="css-1jmm6wv">Vanilla Options</div>
        </div>
    </a>
    <a data-bn-type="link" href="/my/wallet/account/partner/jex/transfer" rel="noopener noreferrer" class="css-6ijtmk">
        <div class="css-10j588g">
            <div data-bn-type="text" class="css-tkieql">Tài khoản JEX</div>
        </div>
    </a>
    <a data-bn-type="link" href="/my/wallet/account/partner/transfer" rel="noopener noreferrer" class="css-6ijtmk">
        <div class="css-10j588g">
            <div data-bn-type="text" class="css-tkieql">Tài khoản WazirX</div>
        </div>
    </a>
    <a data-bn-type="link" class="css-6ijtmk" href="/my/wallet/account/partner/binanceTR/transfer">
        <div class="css-10j588g">
            <div data-bn-type="text" class="css-tkieql">Binance TR</div>
        </div>
    </a>
    <a data-bn-type="link" class="css-6ijtmk" href="/my/wallet/account/partner/tokocrypto/transfer">
        <div class="css-10j588g">
            <div data-bn-type="text" class="css-1jmm6wv">Tokocrypto</div>
        </div>
    </a>
    <a data-bn-type="link" href="/my/wallet/history" class="css-6ijtmk">
        <div class="css-10j588g">
            <div data-bn-type="text" class="css-tkieql">Lịch sử thay đổi số dư</div>
        </div>
    </a>
</div>
<div class="css-c35gi1">
    <div class="css-vurnku">
        <div class="css-udfbh4">
            <div id="tab-/my/wallet/account/overview" class="css-ov54vn">
                <div class="css-f6q5ro"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" class="css-1iztezc"><path d="M6.093 8.889c-.567 0-1.031-.438-1.031-.972 0-.535.464-.973 1.03-.973h12.846V5H6.093C4.38 5 3 6.303 3 7.917v8.166C3 17.697 4.381 19 6.093 19H21V8.889H6.093zm12.845 8.167H6.093c-.567 0-1.031-.438-1.031-.973v-5.415c.33.107.68.165 1.03.165h12.846v6.223z" fill="currentColor"></path><path d="M15.845 12.573l-1.453 1.371 1.453 1.38 1.464-1.38-1.464-1.37z" fill="currentColor"></path></svg>
                    <div class="css-4cffwv">Tổng quan ví
                        <div class="css-vurnku"></div>
                    </div>
                </div>
            </div>
            <div id="tab-/my/wallet/account/main" class="css-ov54vn">
                <div class="css-1fduat">
                    <div class="css-4cffwv">Fiat và Spot</div>
                </div>
            </div>
            <div id="tab-/my/wallet/account/margin" class="css-ov54vn">
                <div class="css-1fduat">
                    <div class="css-4cffwv">Margin</div>
                </div>
            </div>
            <div id="tab-/my/wallet/account/futures" class="css-ov54vn">
                <div class="css-1fduat">
                    <div class="css-4cffwv">Futures</div>
                </div>
            </div>
            <div id="tab-/my/wallet/funding" class="css-ov54vn">
                <div class="css-1fduat">
                    <div class="css-4cffwv">Funding</div>
                </div>
            </div>
            <div id="tab-/my/wallet/account/saving" class="css-ov54vn">
                <div class="css-1fduat">
                    <div class="css-4cffwv">Earn</div>
                </div>
            </div>
            <div id="tab-/my/wallet/account/mining" class="css-ov54vn">
                <div class="css-1fduat">
                    <div class="css-4cffwv">Tài khoản Mining</div>
                </div>
            </div>
            <div id="tab-https://voptions.binance.com/vi/my/wallet/account/options" class="css-ov54vn">
                <div class="css-1fduat">
                    <div class="css-4cffwv">Vanilla Options</div>
                </div>
            </div>
            <div id="tab-/my/wallet/account/partner/jex/transfer" class="css-ov54vn">
                <div class="css-1fduat">
                    <div class="css-4cffwv">Tài khoản JEX</div>
                </div>
            </div>
            <div id="tab-/my/wallet/account/partner/transfer" class="css-ov54vn">
                <div class="css-1fduat">
                    <div class="css-4cffwv">Tài khoản WazirX</div>
                </div>
            </div>
            <div id="tab-/my/wallet/account/partner/binanceTR/transfer" class="css-ov54vn">
                <div class="css-1fduat">
                    <div class="css-4cffwv">Binance TR</div>
                </div>
            </div>
            <div id="tab-/my/wallet/account/partner/tokocrypto/transfer" class="css-ov54vn">
                <div class="css-1fduat">
                    <div class="css-4cffwv">Tokocrypto</div>
                </div>
            </div>
            <div id="tab-/my/wallet/history" class="css-ov54vn">
                <div class="css-1fduat">
                    <div class="css-4cffwv">Lịch sử thay đổi số dư</div>
                </div>
            </div>
        </div>
    </div>
</div>
